.products-modification
    margin-bottom 100px

    &__tabs-switches
        display flex
        border-bottom 2px solid #F3F3F3

        @media (max-width 767px)
            display none

    &__tabs-switcher
        font-size 36px
        color #CBCBCB
        font-weight bold
        line-height 41px
        padding 0 0 10px 0
        margin-right 110px
        background-color transparent
        border none
        position relative
        transition color .3s
        &:before
            content ''
            position absolute
            bottom -3px
            left 0
            width 100%
            height 4px
            background-color #0575dc
            opacity 0
            transition opacity .3s

        &:hover
            &:before
                opacity 1

        &:last-child
            margin-right 0          
        
        &.is-active-tabs-swither
            color #2c323e
            &:before
                opacity 1

        @media (max-width 959px)
            margin-right 55px        

    &__tabs-container
        margin-top 30px

    &__tabs-content
        display none

        &.is-active-tabs-content
            display block

        @media (max-width 767px)
            display block !important    
            margin-bottom 40px  

    &__title
        font-size 30px
        color #2c323e
        font-weight bold
        line-height 34px
        padding 0 0 5px 0
        margin-bottom 30px
        background-color transparent
        border none
        position relative
        display none
        &:before
            content ''
            position absolute
            bottom -3px
            left 0
            width 100%
            height 4px
            background-color #0575dc
        
        @media (max-width 767px)
            display inline-block        

    &__table

        @media (max-width 1279px)
            overflow-x auto

        table.table-products

            @media (max-width 1279px)
                width 1280px


    &__archives
        margin-top 20px       

    &__btn-archive
        font-size 12px
        color #3F4653
        font-weight 700
        line-height 16px
        letter-spacing 0.185em
        text-transform uppercase
        display block
        width 100%
        padding 20px
        margin-bottom 20px
        background-color transparent
        border 1px solid #DFDFDF
        border-radius 3px

        &.is-active-btn-archive
            span 
                &:after
                    transform rotate(180deg)

        span 
            position relative
            &:before
                content ''
                position absolute
                top -3px
                left -35px
                width 25px
                height 25px
                background url('../img/archive2-icon.svg') 0 0 no-repeat

                @media (max-width 479px)
                    display none
                    
            &:after
                content ''
                position absolute
                top 3px
                right -20px
                width 10px
                height 7px
                background url('../img/arr2-icon.svg') 0 0 no-repeat
                transition transform .3s

    &__archive-content
        display none            

        @media (max-width 1279px)
            overflow-x auto

        table.table-products

            @media (max-width 1279px)
                width 1280px