<div block="products-modification" data-aos="fade-up" data-aos-duration="1000">
    <div elem="section">
        <div elem="tabs">
            <div elem="tabs-switches">
                <button elem="tabs-switcher" class="is-active-tabs-swither js-tabs-swither" type="button">Номенклатура</button>
                <button elem="tabs-switcher" class="js-tabs-swither" type="button">Документы</button>
                <button elem="tabs-switcher" class="js-tabs-swither" type="button">Описание</button>
            </div>
            <div elem="tabs-container">
                <div elem="tabs-content" class="is-active-tabs-content js-tabs-content">
                    <div elem="tabs-body">
                        <div elem="title">Номенклатура</div>
                        <div elem="table">
                            <table class="table-products">
                                <thead>
                                    <tr>
                                        <th>Наименование, артикул</th>
                                        <th>Мощность, Вт</th>
                                        <th>Световой поток, Лм</th>
                                        <th>Эффективность, Лм/Вт</th>
                                        <th>Размер, мм</th>
                                        <th>&nbsp;</th>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="#" class="products-modification-name">Светильник Econex Road 20 W3 5000K</a>
                                            <span>2102104</span>
                                        </td>
                                        <td>28</td>
                                        <td>3 800</td>
                                        <td>136</td>
                                        <td>358 х 195 х 100</td>
                                        <td><a href="#">Узнать цену</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="products-modification-name">Светильник Econex Road 20 W3 5000K</a>
                                            <span>2102104</span>
                                            <span class="products-modification-to-archive">Выводится из ассортимента: 10.01.2020</span>
                                        </td>
                                        <td>28</td>
                                        <td>3 800</td>
                                        <td>136</td>
                                        <td>358 х 195 х 100</td>
                                        <td><a href="#">Узнать цену</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="products-modification-name">Светильник Econex Road 20 W3 5000K</a>
                                            <span>2102104</span>
                                        </td>
                                        <td>28</td>
                                        <td>3 800</td>
                                        <td>136</td>
                                        <td>358 х 195 х 100</td>
                                        <td><a href="#">Узнать цену</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="products-modification-name">Светильник Econex Road 20 W3 5000K</a>
                                            <span>2102104</span>
                                        </td>
                                        <td>28</td>
                                        <td>3 800</td>
                                        <td>136</td>
                                        <td>358 х 195 х 100</td>
                                        <td><a href="#">Узнать цену</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="products-modification-name">Светильник Econex Road 20 W3 5000K</a>
                                            <span>2102104</span>
                                        </td>
                                        <td>28</td>
                                        <td>3 800</td>
                                        <td>136</td>
                                        <td>358 х 195 х 100</td>
                                        <td><a href="#">Узнать цену</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="products-modification-name">Светильник Econex Road 20 W3 5000K</a>
                                            <span>2102104</span>
                                        </td>
                                        <td>28</td>
                                        <td>3 800</td>
                                        <td>136</td>
                                        <td>358 х 195 х 100</td>
                                        <td><a href="#">Узнать цену</a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="products-modification-name">Светильник Econex Road 20 W3 5000K</a>
                                            <span>2102104</span>
                                        </td>
                                        <td>28</td>
                                        <td>3 800</td>
                                        <td>136</td>
                                        <td>358 х 195 х 100</td>
                                        <td><a href="#">Узнать цену</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div elem="archives">
                            <button elem="btn-archive" class="js-btn-archive" type="button"><span>показать архивные модификации</span></button>
                            <div elem="archive-content" class="js-archive-content">
                                <table class="table-products">
                                    <thead>
                                        <tr>
                                            <th>Наименование, артикул</th>
                                            <th>Мощность, Вт</th>
                                            <th>Световой поток, Лм</th>
                                            <th>Эффективность, Лм/Вт</th>
                                            <th>Размер, мм</th>
                                            <th>&nbsp;</th>
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a href="#" class="products-modification-name">Светильник Econex Road 20 W3 5000K</a>
                                                <span>2102104</span>
                                            </td>
                                            <td>28</td>
                                            <td>3 800</td>
                                            <td>136</td>
                                            <td>358 х 195 х 100</td>
                                            <td><a href="#">Узнать цену</a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#" class="products-modification-name">Светильник Econex Road 20 W3 5000K</a>
                                                <span>2102104</span>
                                            </td>
                                            <td>28</td>
                                            <td>3 800</td>
                                            <td>136</td>
                                            <td>358 х 195 х 100</td>
                                            <td><a href="#">Узнать цену</a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#" class="products-modification-name">Светильник Econex Road 20 W3 5000K</a>
                                                <span>2102104</span>
                                            </td>
                                            <td>28</td>
                                            <td>3 800</td>
                                            <td>136</td>
                                            <td>358 х 195 х 100</td>
                                            <td><a href="#">Узнать цену</a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#" class="products-modification-name">Светильник Econex Road 20 W3 5000K</a>
                                                <span>2102104</span>
                                            </td>
                                            <td>28</td>
                                            <td>3 800</td>
                                            <td>136</td>
                                            <td>358 х 195 х 100</td>
                                            <td><a href="#">Узнать цену</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>    
                        </div>
                        {% include "additional-products.html" %}
                    </div>
                </div>
                <div elem="tabs-content" class="js-tabs-content">
                    <div elem="tabs-body">
                        <div elem="title">Документы</div>
                        {% include "documents-products.html" %}
                    </div>
                </div>
                <div elem="tabs-content" class="js-tabs-content">
                    <div elem="tabs-body">
                        <div elem="title">Описание</div>
                        {% include "description-products.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- products-modification -->