<div block="product-series">
    <div elem="section">
        <div elem="inner">
            <div elem="img" class="js-product-series-img-path" data-aos="fade-right" data-aos-duration="1000"><img src="img/product-series-img.png" alt=""></div>
            <div elem="content" data-aos="fade-left" data-aos-duration="1000">
                <div elem="head" class="js-product-series-head">
                    <h1>Cерия Road</h1>
                    <div elem="desc">наружное освещение</div>
                    <a elem="btn-to-list-model" class="btn-general btn-extra" href="#">к списку моделей</a>
                </div>
                <div elem="text">Уличные светильники серии Road сочетают оригинальный дизайн и высокое качество света, которые помогают оживить улицы и территории современного города</div>
                <div elem="options">
                    <div elem="option">
                        <span elem="icon"><img src="img/light-icon.svg" alt=""></span>
                        14 600 лм — 61 200 лм
                    </div>
                    <div elem="option">
                        <span elem="icon"><img src="img/power-icon.svg" alt=""></span>
                        14 600 лм — 61 200 лм
                    </div>
                </div>
                <div elem="warranty">
                    <div elem="lifetime">36</div>
                    <div elem="lifetime-date">
                        <strong>МЕСЯЦЕВ ГАРАНТИИ</strong>
                        <span>MONTH WARRANTY</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- product-series -->