.product-series
    margin-bottom 40px

    &__img
        flex 0 0 600px
        width 600px
        max-width 600px
        background-color #f1f1f1
        border-radius 2px
        margin-right 30px
        background-size cover
        background-position center center

        img 
            opacity 0
            width 0
            height 0

        @media (max-width 1023px)
            height 400px
            margin-bottom 25px    

        @media (max-width 959px)
            height 300px    

        @media (max-width 767px)   
            width 100%
            max-width 100%  
    
    &__inner
        display flex

        @media (max-width 1023px)
            display block
    
    &__head

        h1
            line-height 60px
            margin-top 0
            margin-bottom 0

            @media (max-width 959px)
                line-height 31px

            @media (max-width 767px)   
                margin-bottom 20px    

    &__desc
        font-size 15px
        color #9C9C9C
        line-height 28px
        margin-bottom 10px  

        @media (max-width 767px)   
            display none

    &__btn-to-list-model
        margin-bottom 25px          

    &__text
        font-size 16px
        color #3F4653    
        line-height 24px
        letter-spacing 0.05em
        margin-bottom 20px

    &__options
        margin-bottom 40px    

        @media (max-width 767px)   
            margin-bottom 20px

    &__option
        font-size 18px
        color #38404E
        line-height 34px
        letter-spacing 0.025em
        display flex
        align-items center
        
    &__icon
        flex 0 0 16px
        width 16px
        max-width 16px
        margin-right 11px    

    &__warranty
        width 280px
        max-width 100%
        background rgba(0, 198, 79, 0.12)
        border-radius 3px
        padding 15px 20px 13px
        display flex
        align-items end
        margin-right 10px

    &__lifetime
        font-size 43px
        color #00C64F 
        font-weight 600  
        line-height 43px
        letter-spacing 0.01em
        flex 0 0 50px
        width 50px
        max-width 50px
        margin-right 10px

    &__lifetime-date
        font-size 13px
        color #00C64F
        line-height 19px
        letter-spacing 0.16em

        span
            font-size 11px
            color rgba(0, 198, 79, 0.62)
            line-height 16px
            letter-spacing 0.16em

    &__btn-to-list-model
        
        @media (max-width 480px)
            min-width 100%  