<div block="video-projects">
    <div elem="sectiom">
        <div elem="items">
            <div elem="item">
                <div elem="body">
                    <a elem="preview" class="js-preview" data-remodal-target="video" href="https://www.youtube.com/embed/G3tYONtP0G4">
                        <span elem="pic" style="background-image: url('img/video-pic.jpg')"></span>
                        <span elem="text">Посмотрите как мы модернизировали систему освещения в ПАО «Силовые машины»</span>
                        <button elem="btn-play" type="button"></button>
                        <span class="hidden-title-video">ПАО «Силовые машины»</span>
                        <span class="hidden-text-video">
                            <span>Установлено 181 светодиодный светильник</span>
                            <span>Установлена беспроводная система управления Econex Smart</span>
                            <span>Потребление до модернизации — 192 кВт*часов, после — 31 кВт*часов (экономия 90%)</span>
                        </span>
                    </a>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <a elem="preview" class="js-preview" data-remodal-target="video" href="https://www.youtube.com/embed/k2gfkqp5_3o">
                        <span elem="pic" style="background-image: url('img/video-pic.jpg')"></span>
                        <span elem="text">Посмотрите как мы модернизировали систему освещения в ПАО «Силовые машины»</span>
                        <button elem="btn-play" type="button"></button>
                        <span class="hidden-title-video">ПАО «Силовые машины»</span>
                        <span class="hidden-text-video">
                            <span>Установлено 181 светодиодный светильник</span>
                            <span>Установлена беспроводная система управления Econex Smart</span>
                            <span>Потребление до модернизации — 192 кВт*часов, после — 31 кВт*часов (экономия 90%)</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>  
    </div>
</div><!-- video-projects -->