/*! video-projects */

.video-projects
    margin-top 35px
    margin-bottom 45px

    &__items
        display flex
        margin-left -40px

        @media (max-width 767px)    
            display block
    
    &__item
        flex 0 0 50%
        width 50%
        max-width 50%
        height 400px
        padding-left 40px
        display block

        @media (max-width 767px)   
            width 590px
            max-width 100%
            margin-bottom 20px

    &__body
        border-radius 3px    
        overflow hidden
        height 100%

    &__preview
        display block
        position relative
        overflow hidden
        height 100%
        &:before
            content ''
            position absolute
            top 0
            left 0
            z-index 1
            width 100%
            height 100%
            background linear-gradient(180deg, rgba(0, 0, 0, 0) 38.25%, rgba(0, 0, 0, 0.72) 100%)

        &:hover

            & ^[0]

                &__pic

                    transform scale(1.1)

        .hidden-title-video,
        .hidden-text-video
            display none            

    &__pic
        display block
        background-size cover
        background-position 50% 50%
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        display block
        transition transform .8s

    &__text
        font-size 18px
        color #FFF
        font-weight 500
        line-height 24px
        letter-spacing 0.04em
        position absolute
        left 0
        bottom 0
        z-index 2
        padding-bottom 25px        
        padding-left 30px
        width 460px
        max-width 100%

        @media (max-width 959px)
            font-size 16px
            line-height 20px
            padding-left 15px
            padding-bottom 15px
            width 100%

        @media (max-width 374px)   
            font-size 14px
            line-height 16px

    &__btn-play
        width 0
        height 0
        border-style solid
        border-width 25px 0 25px 30px
        border-color transparent transparent transparent #ffffff  
        background-color transparent
        display block
        position absolute
        top 50%
        left 50%
        transform translate(-10%, -70%)
        z-index 2

        @media (max-width 439px)
            border-width 15px 0 15px 20px

/*! video-projects END*/