/*! completed-projects */
.completed-projects
    margin-bottom 120px

    @media (max-width 767px)
        margin-bottom 25px

    &__title
        font-size 36px
        color #2C323E
        font-weight 800
        line-height 35px
        letter-spacing 0.015em
        margin-bottom 30px

        @media (max-width 639px)
            font-size 20px
            line-height 19px
            margin-bottom 15px
    
    &__item
        display flex
        align-items center
        padding 20px 35px
        border-top 1px solid #D6D6D6
        border-right 1px solid #D6D6D6
        border-left 1px solid #D6D6D6
        border-radius 3px
        &:last-child
            border-bottom 1px solid #D6D6D6

        &:hover

            & ^[0]    
                
                &__pic

                    img 
                        filter none

        @media (max-width 767px)
            padding 25px

        @media (max-width 550px)
            display block    

    &__pic
        flex 0 0 72px
        width 72px
        max-width 72px
        margin-right 20px

        @media (max-width 767px)
            margin-right 10px 

        @media (max-width 639px)
            display none    
        
        img 
            filter grayscale(100%)
            transition filter .3s

    &__name
        font-size 20px
        color #3F4653        
        font-weight 500
        line-height 25px
        letter-spacing 0.05em

        @media (max-width 767px)
            font-size 17px
            line-height 20px

        @media (max-width 550px)
            margin-bottom 10px    

    &__desc
        font-size 15px
        color #9C9C9C    
        line-height 28px

        @media (max-width 550px)
            margin-bottom 10px
    
    &__save
        font-size 20px
        color #00C64F
        font-weight bold
        line-height 30px
        letter-spacing 0.01em
        text-align center
        padding 10px 20px
        background-color rgba(0, 198, 79, 0.12)
        border-radius 3px
        margin-left auto
        flex 0 0 190px
        width 190px
        max-width 190px

        @media (max-width 550px)
            margin-left 0
            width 100%
            max-width 100%

/*! completed-projects END */