<div block="completed-projects" data-aos="fade-up" data-aos-duration="800">
    <div elem="section">
        <div elem="inner">
            <div elem="title">Реализованные проекты:</div>
            {% include "video-projects.html" %}
            <div elem="items">
                <div elem="item">
                    <div elem="pic"><img src="img/completed-projects3-pic.png" alt=""></div>
                    <div elem="contain">
                        <div elem="name">Администрация р.п. Средняя Ахтуба, Волгоградская обл.</div>
                        <div elem="desc">1050 светодиодных светильников</div>
                    </div>
                    <div elem="save">Экономия 75%</div>
                </div>
                <div elem="item">
                    <div elem="pic"><img src="img/completed-projects-pic.png" alt=""></div>
                    <div elem="contain">
                        <div elem="name">Администрация Алексеевского района, станица Алексеевская, Волгоградская обл.</div>
                        <div elem="desc">372 светодиодных светильников</div>
                    </div>
                    <div elem="save">Экономия 73%</div>
                </div>
                <div elem="item">
                    <div elem="pic"><img src="img/completed-projects8-pic.png" alt=""></div>
                    <div elem="contain">
                        <div elem="name">Администрация Калачевского района, п. Береславка, Волгоградская обл.</div>
                        <div elem="desc">282 светодиодных светильников</div>
                    </div>
                    <div elem="save">Экономия 83%</div>
                </div>
                <div elem="item">
                    <div elem="pic"><img src="img/completed-projects7-pic.png" alt=""></div>
                    <div elem="contain">
                        <div elem="name">Администрация Чернышковского р.п., Волгоградская обл.</div>
                        <div elem="desc">434 светодиодных светильников</div>
                    </div>
                    <div elem="save">Экономия 81%</div>
                </div>
                <div elem="item">
                    <div elem="pic"><img src="img/completed-projects5-pic.png" alt=""></div>
                    <div elem="contain">
                        <div elem="name">Администрация Котельниковского р.п. , Волгоградская обл.</div>
                        <div elem="desc">1300 светодиодных светильников</div>
                    </div>
                    <div elem="save">Экономия 81%</div>
                </div>
                <div elem="item">
                    <div elem="pic"><img src="img/completed-projects2-pic.png" alt=""></div>
                    <div elem="contain">
                        <div elem="name">Ижорские заводы</div>
                        <div elem="desc">1580 светодиодных светильников</div>
                    </div>
                    <div elem="save">Экономия 89%</div>
                </div>
                <div elem="item">
                    <div elem="pic"><img src="img/completed-projects4-pic.png" alt=""></div>
                    <div elem="contain">
                        <div elem="name">Администрация ст. Егорлыкская, Ростовская обл.</div>
                        <div elem="desc">1600 светодиодных светильников</div>
                    </div>
                    <div elem="save">Экономия 82%</div>
                </div>
                <div elem="item">
                    <div elem="pic"><img src="img/completed-projects6-pic.png" alt=""></div>
                    <div elem="contain">
                        <div elem="name">Администрация Урюпинского района, г. Урюпинск, Волгоградская обл.</div>
                        <div elem="desc">2600 светодиодных светильников</div>
                    </div>
                    <div elem="save">Экономия 74%</div>
                </div>
            </div>
        </div>
    </div>
</div><!-- completed-projects -->