.questions
    flex none
    margin-bottom 70px
    position relative
    z-index 5

    @media print
        display none

    &__inner
        color #fff
        background-color #062A4B
        border-radius 3px
        padding 80px 105px 85px 70px
        display flex
        justify-content space-between

        @media (max-width 1279px)
            flex-direction column

        @media (max-width 767px)
            padding 25px

    &__title
        font-size 50px
        font-family 'Proxima Nova', Arial, Helvetica, sans-serif
        font-weight bold
        line-height 56px
        letter-spacing 0.015em
        flex 0 0 320px
        width 320px
        max-width 320px

        @media (max-width 1279px)
            flex none
            width 100%
            max-width 100%
            margin-bottom 15px

        @media (max-width 767px)    
            font-size 36px
            line-height 40px

    &__desc
        font-size 20px
        line-height 35px
        flex 0 0 410px
        width 410px
        max-width 410px

        @media (max-width 1279px)
            flex none
            width 100%
            max-width 100%
            margin-bottom 50px

        @media (max-width 767px)    
            font-size 19px
            line-height 32px    

    &__info
        flex 0 0 280px    
        width 280px
        max-width 280px

        @media (max-width 1279px)
            flex none
            width 100%
            max-width 100%

    &__btn-call
        margin-bottom 20px   

        @media (max-width 767px)
            min-width 100%


    &__note
        font-size 15px
        color rgba(254, 254, 254, 0.34)   
        line-height 24px
        padding-left 25px
        position relative
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 18px
            height 18px
            background url('../img/timelapse-icon.svg') 0 0 no-repeat

