<div block="questions" data-aos="fade-up" data-aos-duration="800">
    <div elem="section" class="contain">
        <div elem="inner">
            <div elem="title">Если у вас вопросы</div>
            <div elem="desc">в отношении вашего объекта, расчётов, документации, то оставьте заявку и наш инженер свяжется с Вами в ближайшее время</div>
            <div elem="info">
                <button elem="btn-call" class="btn-general" data-remodal-target="call" type="button">перезвоните мне</button>
                <div elem="note">~15 минут проходит в среднем от заявки до звонка инженера</div>
            </div>
        </div>
    </div>
</div><!-- questions -->