<div block="select-sity">
    <div elem="selected" class="js-selected-sity"><span>Санкт-Петербург</span></div>
    <ul elem="list-sity" class="js-list-sity">
        <li class="is-active-sity"><a href="#">Санкт-Петербург</a></li>
        <li><a href="#">Москва</a></li>
        <li><a href="#">Хельсинки</a></li>
        <li><a href="#">Волгоград</a></li>
        <li><a href="#">Пермь</a></li>
        <li><a href="#">Владивосток</a></li>
        <li><a href="#">Екатеринбург</a></li>
    </ul>
</div><!-- select-sity -->

