.select-sity
    width 180px
    margin-right 30px
    position relative

    @media (max-width 1439px)
        margin-right 0

    &__selected
        font-size 16px
        color #0081DE
        line-height 25px
        position relative
        cursor pointer
        padding-left 25px

        &:before
            content ''
            position absolute
            top 0
            left 0
            width 24px
            height 24px
            background url('../img/location-icon.png') 0 0 no-repeat
        
        .svg-icon--location-icon
            fill #fff
        
        span
            line-height 20px
            border-bottom 1px dashed #0081DE

    &__list-sity
        list-style-type none
        border-radius 3px
        padding 10px 20px
        margin-top 10px
        margin-bottom 0
        box-shadow 0px 49px 72px rgba(0, 0, 0, 0.33)
        background-color #fff
        width 200px
        position absolute
        top 100%
        left 0
        display none
        z-index 10

        @media (max-width 1024px)
            box-shadow none
            position static
            width 100%
            padding 0 0 0 25px
            background-color transparent

        li
            padding 5px 0
            &:last-child
                margin-bottom 0

            &.is-active-sity 

                a
                    color #adadad    
                    cursor default
                    pointer-events none
                    &:hover
                        color #adadad    

            a
                font-size 16px
                color #3F4653
                text-decoration none
                transition color .3s
                display block
                &:hover
                    color #0081DE