<div block="card-product-slider">
    <div elem="top-slider">
        <div elem="top-slider-item" data-thumb="img/product-series-img.png"><img src="img/product-series-img.png" alt=""></div>
        <div elem="top-slider-item" data-thumb="img/product-series-img.png"><img src="img/product-series-img.png" alt=""></div>
        <div elem="top-slider-item" data-thumb="img/product-series-img.png"><img src="img/product-series-img.png" alt=""></div>
        <div elem="top-slider-item" data-thumb="img/product-series-img.png"><img src="img/product-series-img.png" alt=""></div>
        <div elem="top-slider-item" data-thumb="img/product-series-img.png"><img src="img/product-series-img.png" alt=""></div>
    </div>
    <div elem="bottom-slider"></div>
</div><!-- card-product-slider -->