.card-product-slider
    margin-bottom 40px

    @media print
        display none

    @media (max-width 959px)  
        margin-bottom 0
    
    &__top-slider
        height 445px
        background #F1F1F1
        border-radius 2px
        margin-bottom 20px

        @media (max-width 959px)  
            height auto

        .owl-prev,
        .owl-next
            width 50px
            height 50px
            background rgba(0, 0, 0, 0.3)
            border-radius 3px
            display flex
            justify-content center
            align-items center
            position absolute
            top 50%

        .owl-prev
            left 25px
            transform translateY(-50%) rotate(180deg)    

            @media (max-width 440px)
                left -10px

        .owl-next
            transform translateY(-50%)
            right 25px 

            @media (max-width 440px)
                right -10px   
    
    &__bottom-slider-item
        background-color #fdfdfd
        transition background-color .3s
        height 100px

        &.is-active
            background-color #fff

        @media (max-width 959px)  
            display none    