.products
    padding-top 25px
    margin-bottom 30px

    @media (max-width 639px)
        padding-top 0

    &__items
        display flex
        flex-wrap wrap
        margin-left -15px

.product-thumb
    padding-left 15px
    margin-bottom 15px

    @media (max-width 639px)
        width 100%

    &__body
        width 295px
        height 305px
        padding 20px 20px 15px
        background-color #f3f3f3
        border-radius 3px
        display flex
        flex-direction column
        justify-content space-between
        position relative

        @media (max-width 639px)
            width 100%

    &__name
        font-size 20px
        color #3F4653    
        font-weight 500
        line-height 25px
        letter-spacing 0.05em
        transition color .3s
        &:hover
            text-decoration none
            color #0081de

    &__desc
        font-size 14px
        color #9C9C9C        
        line-height 16px

    &__img
        position absolute    
        top 50%
        left 50%
        transform translate(-50%, -50%)

    &__option
        font-size 14px
        color #38404E
        line-height 27px
        letter-spacing 0.025em
        display flex
        align-items center
    
    &__icon
        flex 0 0 12px
        width 12px
        max-width 12px
        margin-right 11px
           