<div block="products" data-aos="fade-up" data-aos-duration="800">
    <div elem="section">
        <h2 elem="title" class="title-h2">Промышленное освещение</h2>
        <div elem="items">
            <div block="product-thumb">
                <div elem="body">
                    <div elem="title">
                        <a elem="name" href="#">Серия Road</a>
                        <div elem="desc">промышленный светильник</div>
                    </div>
                    <a elem="img" href="#"><img src="img/product-img.png" alt=""></a>
                    <div elem="options">
                        <div elem="option">
                            <span elem="icon"><img src="img/light-icon.svg" alt=""></span>
                            14 600 лм — 61 200 лм
                        </div>
                        <div elem="option">
                            <span elem="icon"><img src="img/power-icon.svg" alt=""></span>
                            14 600 лм — 61 200 лм
                        </div>
                    </div>
                </div>
            </div><!-- product-thumb -->
            <div block="product-thumb">
                <div elem="body">
                    <div elem="title">
                        <a elem="name" href="#">Серия Highway</a>
                        <div elem="desc">промышленный светильник</div>
                    </div>
                    <a elem="img" href="#"><img src="img/product-img2.png" alt=""></a>
                    <div elem="options">
                        <div elem="option">
                            <span elem="icon"><img src="img/light-icon.svg" alt=""></span>
                            14 600 лм — 61 200 лм
                        </div>
                        <div elem="option">
                            <span elem="icon"><img src="img/power-icon.svg" alt=""></span>
                            14 600 лм — 61 200 лм
                        </div>
                    </div>
                </div>
            </div><!-- product-thumb -->
            <div block="product-thumb">
                <div elem="body">
                    <div elem="title">
                        <a elem="name" href="#">Серия Spark</a>
                        <div elem="desc">промышленный светильник</div>
                    </div>
                    <a elem="img" href="#"><img src="img/product-img3.png" alt=""></a>
                    <div elem="options">
                        <div elem="option">
                            <span elem="icon"><img src="img/light-icon.svg" alt=""></span>
                            14 600 лм — 61 200 лм
                        </div>
                        <div elem="option">
                            <span elem="icon"><img src="img/power-icon.svg" alt=""></span>
                            14 600 лм — 61 200 лм
                        </div>
                    </div>
                </div>
            </div><!-- product-thumb -->
            <div block="product-thumb">
                <div elem="body">
                    <div elem="title">
                        <a elem="name" href="#">Серия Kvant</a>
                        <div elem="desc">промышленный светильник</div>
                    </div>
                    <a elem="img" href="#"><img src="img/product-img4.png" alt=""></a>
                    <div elem="options">
                        <div elem="option">
                            <span elem="icon"><img src="img/light-icon.svg" alt=""></span>
                            14 600 лм — 61 200 лм
                        </div>
                        <div elem="option">
                            <span elem="icon"><img src="img/power-icon.svg" alt=""></span>
                            14 600 лм — 61 200 лм
                        </div>
                    </div>
                </div>
            </div><!-- product-thumb -->
            <div block="product-thumb">
                <div elem="body">
                    <div elem="title">
                        <a elem="name" href="#">Серия Office</a>
                        <div elem="desc">промышленный светильник</div>
                    </div>
                    <a elem="img" href="#"><img src="img/product-img6.png" alt=""></a>
                    <div elem="options">
                        <div elem="option">
                            <span elem="icon"><img src="img/light-icon.svg" alt=""></span>
                            14 600 лм — 61 200 лм
                        </div>
                        <div elem="option">
                            <span elem="icon"><img src="img/power-icon.svg" alt=""></span>
                            14 600 лм — 61 200 лм
                        </div>
                    </div>
                </div>
            </div><!-- product-thumb -->
        </div>
    </div>
</div><!-- products -->