<div block="additional-products">
    <div elem="section">
        <h3>Номенклатура дополнительных элементов</h3>
        <table class="table-products">
            <thead>
                <tr>
                    <th>Наименование, артикул</th>
                    <th>Описание</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#" class="products-modification-name">Комплект крепления 21-03</a>
                        <span>2102104</span>    
                    </td>
                    <td>Поворотное крепление на стену для светильников Road с шагом фиксации 15°</td>
                    <td><a href="#">Узнать цену</a></td>
                </tr>
                <tr>
                    <td>
                        <a href="#" class="products-modification-name">Комплект крепления 21-03</a>
                        <span>2102104</span>    
                    </td>
                    <td>Поворотное крепление на стену для светильников Road с шагом фиксации 15°</td>
                    <td><a href="#">Узнать цену</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div><!-- additional-products -->