.additional-products
    margin-top 70px

    @media (max-width 767px)
        display none
    
    table.table-products

        tr
            td
                &:nth-child(2)
                    width 45%
                    padding-right 60px