<header block="app-header" mix="block:mt-4">
    <div elem="section">
        <div elem="inner">
            {% include "top-line.html" %}
        </div>
        {% if pageTitle != "Документация" and pageTitle != "Энергосервисные контракты" and pageTitle != "Контакты" %}
            {% include "catalog-products.html" %}
        {% endif %}
    </div>
</header><!-- b:app-header -->
