.app-header
    flex none
    margin-bottom 30px

    @media print
        display none

    &__inner
        width 1500px
        max-width 100%
        margin 95px auto 0

        @media (max-width 1023px)
            margin-top 71px