.card-product
    margin-bottom 90px

    &__items
        display flex
        justify-content space-between

        @media (max-width 959px)  
            display block

    &__item
        flex 0 0 48%

    &__info
        padding 15px 15px 20px 10px
        border 1px solid #D5D5D5
        border-radius 2px    
        margin-bottom 15px

    &__date-to-out
        font-size 11px
        color rgba(255, 15, 0, 0.62)
        font-weight 700
        line-height 16px
        letter-spacing 0.085em
        text-transform uppercase
        padding 19px 20px 18px 50px
        background-color rgba(255, 7, 7, 0.13)
        border-radius 3px   
        margin-bottom 15px
        position relative
        &:before
            content ''
            position absolute
            top 20px
            left 25px
            width 20px
            height 20px
            background url('../img/archive-icon.svg') 0 0 no-repeat

    &__alt-products
        padding-left 25px    
        
    &__alt-products-title
        font-size 12px
        font-weight 700
        color #3F4653
        line-height 16px
        letter-spacing 0.185em
        text-transform uppercase
        margin-bottom 5px

    &__alt-products-name
        font-size 16px
        color #3F4653    
        font-weight normal
        line-height 27px
        letter-spacing 0.05em
        border-bottom 1px dashed #747880
        &:hover
            color #3F4653    
            border-color transparent
            text-decoration none

    &__docs
        padding 25px 35px 35px 35px
        border 1px solid #D5D5D5
        border-radius 2px 

        @media (max-width 959px)  
            margin-bottom 20px

    &__docs-item
        padding-left 50px
        margin-bottom 25px
        position relative
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 30px   
            height 30px
            background url('../img/pdf2-icon.svg') 0 0 no-repeat

        &:last-child
            margin-bottom 0    

    &__docs-title
        font-size 12px
        color #3F4653
        font-weight 700
        line-height 16px
        letter-spacing 0.185em
        text-transform uppercase

    &__docs-name
        font-size 14px
        color #747880
        font-weight normal
        line-height 25px
        letter-spacing 0.05em
        border-bottom 1px dashed #747880
        &:hover
            color #747880    
            border-color transparent
            text-decoration none

    &__head
        margin-bottom 10px
        position relative

        h1
            line-height 60px
            margin-top 0
            margin-bottom 0

            @media (max-width 959px)
                line-height 31px

    &__articul
        font-size 15px
        color #9C9C9C            
        font-weight normal
        line-height 28px

    &__btn-print
        font-size 18px
        color #B5B5B5
        font-weight normal
        line-height 30px
        background-color transparent
        border none
        padding-left 30px
        position absolute
        top -55px
        right 0
        &:before
            content ''
            position absolute
            top 3px
            left 0
            width 25px
            height 25px
            background url('../img/printer-icon.svg') 0 0 no-repeat

        @media (max-width 1024px)
            display none

    &__btns
        margin-bottom 20px

        @media print
            display none

    &__btn-oreder    
        margin-right 20px

        &.btn-general
            min-width 250px

            @media (max-width 1183px)  
                min-width 280px
                margin-bottom 15px

            @media (max-width 639px)  
                min-width 100%   

    &__btn-calculate
        &.btn-general
            width 310px
            padding-top 18px
            margin-bottom 19px

            @media (max-width 1279px)     
                width auto

            @media (max-width 639px)  
                min-width 100%    

    &__options
        margin-bottom 40px    

        @media (max-width 959px)  
            display none

    &__option
        font-size 18px
        color #38404E
        line-height 34px
        letter-spacing 0.025em
        display flex
        align-items center

    &__icon
        margin-right 10px    

    &__parameters

        table.table-products
            tr
                
                td
                    &:nth-child(1)
                        width 70%

                    &:nth-child(2)
                        color #747880    

    &__parameters-title
        font-size 36px
        color #2C323E                    
        font-weight 700
        line-height 41px
        margin-bottom 20px