<div block="card-product" data-aos="fade-up" data-aos-duration="1000">
    <div elem="section">
        <div elem="items">
            <div elem="item">
                {% include "card-product-slider.html" %}
                <div elem="info">
                    <div elem="date-to-out">Дата вывода из ассортимента:  10.01.2020</div>
                    <div elem="alt-products">
                        <div elem="alt-products-title">альтернативные продукты:</div>
                        <a elem="alt-products-name" href="#">Светильник Econex Road 20 W3 5000K</a>
                    </div>
                </div>
                <div elem="docs">
                    <div elem="docs-item">
                        <div elem="docs-title">Сертификат</div>
                        <a elem="docs-name" href="#" download>Сертификат соответствия ТС №0477873 продукции</a>
                    </div>
                    <div elem="docs-item">
                        <div elem="docs-title">паспорт</div>
                        <a elem="docs-name" href="#" download>Паспорт Econex Road UM21V3 </a>
                    </div>
                    <div elem="docs-item">
                        <div elem="docs-title">IES</div>
                        <a elem="docs-name" href="#" download>2102014 - Econex Road 20 W3 5000K</a>
                    </div>
                </div>
            </div>
            <div elem="item">
                <div elem="head" class="js-card-product-head">
                    <button elem="btn-print" type="button" onclick="window.print(); return false;">Распечатать страницу</button>
                    <h1>Econex Road 20 W3 5000K</h1>
                    <div elem="articul">артикул 2102014</div>
                </div>
                <div elem="btns" class="js-card-product-btns">
                    <button elem="btn-oreder" class="btn-general" type="button">Заказать продукцию</button>
                    <button elem="btn-calculate" class="btn-general btn-extra" type="button">рассчитать освещённость</button>
                </div>
                <div elem="options">
                    <div elem="option">
                        <span elem="icon"><img src="img/light-icon.svg" alt=""></span>
                        3 800 лм
                    </div>
                    <div elem="option">
                        <span elem="icon"><img src="img/power-icon.svg" alt=""></span>
                        176 Вт — 264 Вт 
                    </div>
                </div>
                <div elem="parameters">
                    <div elem="parameters-title">Параметры</div>
                    <table class="table-products">
                        <tbody>
                            <tr>
                                <td>Артикул</td>
                                <td>2102014</td>
                            </tr>
                            <tr>
                                <td>Напряжение сети</td>
                                <td>220 (176-264) В</td>
                            </tr>
                            <tr>
                                <td>Частота питающей сети, Гц</td>
                                <td>45-65</td>
                            </tr>
                            <tr>
                                <td>Мощность</td>
                                <td>28 Вт</td>
                            </tr>
                            <tr>
                                <td>Коэффициент мощности, не менее</td>
                                <td>0.95</td>
                            </tr>
                            <tr>
                                <td>Пусковой ток</td>
                                <td>0,4 А</td>
                            </tr>
                            <tr>
                                <td>Класс защиты от поражения током</td>
                                <td>I</td>
                            </tr>
                            <tr>
                                <td>Тип источника света</td>
                                <td>СД</td>
                            </tr>
                            <tr>
                                <td>Световой поток</td>
                                <td>3800 лм</td>
                            </tr>
                            <tr>
                                <td>Световая отдача светильника</td>
                                <td>136 лм/Вт</td>
                            </tr>
                            <tr>
                                <td>Цветовая температура</td>
                                <td>136 лм/Вт</td>
                            </tr>
                            <tr>
                                <td>Индекс цветопередачи</td>
                                <td>5000 К</td>
                            </tr>
                            <tr>
                                <td>Тип КСС</td>
                                <td>> 70</td>
                            </tr>
                            <tr>
                                <td>Коэффициент пульсации светового потока</td>
                                <td>широкая осевая</td>
                            </tr>
                            <tr>
                                <td>Способ установки светильника</td>
                                <td>менее 1%</td>
                            </tr>
                            <tr>
                                <td>Климатическое исполнение</td>
                                <td>консольный</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div><!-- card-product -->