.top-line
    padding-left 15px
    border-bottom 1px solid rgba(0, 0, 0, 0.12)
    width 100%
    position fixed
    top 0
    left 0
    background-color #fafafa
    z-index 50

    @media (max-width 1024px)
        display none

    &__section
        display flex
        align-items center
        justify-content space-between

    &__inner
        display flex
        align-items flex-end
        padding-top 20px
        padding-bottom 30px    
        flex 1 1 950px

    &__contacts
        display flex
        align-items center
        margin-left 0
        flex 0 0 480px
        width 480px
        max-width 480px
        
        @media (max-width 1439px)
            margin-left 35px

        .search
            position absolute
            top 100%
            right 0
            display none

            &__body
                width 305px

                input[type="text"] 
                    width 100%    

    &__phone
        font-size 16px
        color #3F4653        
        font-weight 900
        line-height 29px
        letter-spacing 0.055em
        text-transform uppercase
        &:hover
            color #3F4653 
            text-decoration none 

    &__btn-items
        margin-left 40px
        display flex

    &__btn-item
        flex 0 0 100px
        width 100px    
        max-width 100px
        padding 35px
        display flex
        align-items center
        justify-content center
        border none
        border-left 1px solid rgba(0, 0, 0, 0.12)
        background-color transparent

.logo
    margin-right 20px

    &__img
        width 120px
        display block