<div block="top-line">
    <div elem="section">
        <div elem="inner">
            <div block="logo">
                <a elem="img" href="/"><img src="img/logo.png" alt=""></a>
            </div><!-- b:logo -->
            {% include "select-sity.html" %}
            {% include "main-menu.html" %}
        </div>
        <div elem="contacts">
            <a elem="phone" href="tel:+78442727772">+7  8442  72 77 72</a>
            <div elem="btn-items">
                <button elem="btn-item" data-remodal-target="call" type="button">{{ _icon('phone-icon', { tag: 'i', type: 'colored' }) }}</button>
                <button elem="btn-item" data-remodal-target="message" type="button">{{ _icon('mail-icon', { tag: 'i' }) }}</button>
                <button elem="btn-item" class="js-btn-search" type="button">{{ _icon('search-icon', { tag: 'i' }) }}</button>
                {% include "search.html" %}
            </div>
        </div>
    </div>
</div><!-- top-line -->