<div block="energy-service-contracts" data-aos="fade-up" data-aos-duration="800">
    <div elem="section">
        <div elem="inner">
            <div elem="head">
                <h1 elem="title">Энергосервисные <br> контракты</h1>
                <div elem="img"><img src="img/energy-contr-img.jpg" alt=""></div>
            </div>
            <div elem="content">
                <div elem="text">
                    <p>Энергосервисный контракт – форма договора, по которому Энергосервисная компания (ЭК) за свой счет проводит мероприятия по энергосбережению на объекте Заказчика (модернизация, замена оборудования и т.д.), а Заказчик оплачивает услуги ЭК за счет полученной экономии в течении определенного контрактом времени (количества лет). 
                        При этом дополнительных затрат из бюджета, как правило, не требуется.
                    </p>
                    <p>
                        За базовое значение при расчете по энергосервисному контракту принимаются расходы Заказчика за потребленные энергоресурсы в натуральном выражении (кВт*часы и т.д.) 
                        в предыдущий год от даты заключения Контракта. Расчет экономии производится ежемесячно, значение экономии вычисляется в натуральном выражении и умножается на текущий тариф. 
                    </p>
                </div>
                <div elem="info">
                    <div elem="name">Пример:</div>
                    <div elem="data-consumption">
                        <div elem="data-consumption-item">
                            <strong>1000 кВт*часов</strong>
                            <span>энергопотребление до модернизации</span>
                        </div>
                        <div elem="data-consumption-item">
                            <strong>250 кВт*часов</strong>
                            <span>энергопотребление после модернизации</span>
                        </div>
                    </div>
                    <div elem="text">
                        <p>
                            За 250 кВт*часов заказчик оплачивает энерго-
                            сбытовой организации, за 750 сэкономленных киловатчасов энергосервисной компании до 
                            полной выплаты по контракту.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- energy-service-contracts -->