/*! energy-service-contracts */
.energy-service-contracts
    margin-bottom 90px

    @media (max-width 1024px)
        margin-bottom 40px

    &__head
        position relative
        margin-bottom 60px

        @media (max-width 1024px)
            margin-bottom 25px
    
    &__title
        font-size 80px
        color #FFF
        font-weight 800
        line-height 74px
        letter-spacing 0.015em
        margin-bottom 60px
        position absolute
        bottom 0
        left 55px
        z-index 2

        @media (max-width 959px)
            font-size 50px
            line-height 50px
            left 20px
            margin-bottom 20px

        @media (max-width 639px)
            font-size 32px
            line-height 30px    

        @media (max-width 375px)
            font-size 28px
            line-height 26px    

    &__img
        overflow hidden
        border-radius 3px
        position relative
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background linear-gradient(270deg, rgba(0, 0, 0, 0) -8.9%, rgba(0, 0, 0, 0) -8.89%, rgba(0, 0, 0, 0.64) 100%, #000000 100%)
            z-index 1

        @media (max-width 375px)
            height 200px

        img 
            @media (max-width 375px)    
                width auto
                max-width initial
                height 100%
                
    &__content
        display flex

        @media (max-width 959px)
            display block

    &__text 
        font-size 16px
        color #38404E
        font-weight normal
        line-height 31px
        width 650px
        max-width 100%

        @media (max-width 959px)
            width 100%
            margin-bottom 15px
            
        p
            margin-bottom 25px
            &:last-child
                margin-bottom 0

    &__info
        width 495px
        max-width 100%
        padding 30px 40px 50px 40px
        border 1px solid #DEDEDE
        border-radius 3px        
        margin-left 85px    

        @media (max-width 959px)
            margin-left 0
            width 100%
            padding 15px 20px

    &__name
        font-size 20px
        color #A5A7AB    
        line-height 25px
        letter-spacing 0.05em
        margin-bottom 25px

    &__data-consumption
        display flex
        justify-content space-between
        margin-bottom 25px  

        @media (max-width 479px)
            margin-bottom 15px  

        @media (max-width 374px)
            display block    

    &__data-consumption-item
        width 190px
        max-width 100%
        
        @media (max-width 374px)
            margin-bottom 10px

        strong 
            font-size 20px
            color #3F4653
            line-height 25px
            letter-spacing 0.05em
            display block

            @media (max-width 479px)
                font-size 17px
                line-height 21px

        span 
            font-size 15px
            color #9C9C9C        
            line-height 23px
            display block

            @media (max-width 479px)
                font-size 14px
                line-height 19px

        @media (max-width 479px)
            width 145px        

        @media (max-width 374px)
            width 100%    


/*! energy-service-contracts END */