/*! general-docs */
.general-docs
    margin-bottom 25px

    @media (max-width 959px)
        margin-bottom 10px
    
    &__section
        padding 45px 40px 0
        background-color #F4F4F4
        border-radius 2px

        @media (max-width 959px)
            padding 25px 20px 20px

    &__items
        display flex
        flex-wrap wrap
        margin-left -55px

    &__item
        flex 0 0 33%
        width 33%
        max-width 33%
        padding-left 55px
        margin-bottom 40px
        
        @media (max-width 1279px)
            flex 0 0 50%
            width 50%
            max-width 50%

        @media (max-width 959px)
            flex 0 0 100%
            width 100%
            max-width 100%    
            margin-bottom 20px

    &__body 
        display flex

    &__icon
        flex 0 0 51px
        width 51px
        max-width 51px
        margin-right 15px

        @media (max-width 439px)
            display none

    &__name
        font-size 16px
        color #3F4653 
        font-weight 500
        line-height 20px
        letter-spacing 0.05em
        border-bottom 1px dashed #3F4653 
        transition color .3s, border-color .3s
        
        &:hover
            color #0081de
            text-decoration none
            border-color transparent

    &__date
        font-size 14px
        color #757D8D        
        font-weight normal
        line-height 18px
        letter-spacing 0.05em
        margin-top 5px

/*! general-docs END */