<div block="general-docs" data-aos="fade-right" data-aos-duration="800">
    <div elem="section">
        <div elem="items">
            <div elem="item">
                <div elem="body">
                    <div elem="icon"><img src="img/gen-docs-icon.svg" alt=""></div>
                    <div elem="content">
                        <a elem="name" href="#">Каталог продукции Econex</a>
                        <div elem="date">20 Ноября 2019</div>
                    </div>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="icon"><img src="img/gen-docs-icon.svg" alt=""></div>
                    <div elem="content">
                        <a elem="name" href="#">Каталог продукции Econex Smart</a>
                        <div elem="date">2 Октября 2018</div>
                    </div>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="icon"><img src="img/gen-docs2-icon.svg" alt=""></div>
                    <div elem="content">
                        <a elem="name" href="#">Номенклатура продукции </a>
                        <div elem="date">2 Октября 2018</div>
                    </div>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="icon"><img src="img/gen-docs3-icon.svg" alt=""></div>
                    <div elem="content">
                        <a elem="name" href="#">База фотометрических данных IES</a>
                        <div elem="date">20 Ноября 2019</div>
                    </div>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="icon"><img src="img/gen-docs4-icon.svg" alt=""></div>
                    <div elem="content">
                        <a elem="name" href="#">Программа Dialux</a>
                        <div elem="date">2 Октября 2018</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- general-docs -->