/*! first-step */

.first-step
    margin-bottom 100px

    @media (max-width 767px)
        margin-bottom 40px

    &__inner
        color #fff
        background-color #062A4B
        border-radius 3px
        padding 80px 105px 85px 70px
        display flex

        @media (max-width 1279px)
            flex-direction column

        @media (max-width 767px)
            padding 25px

    &__title
        font-size 50px
        font-family 'Proxima Nova', Arial, Helvetica, sans-serif
        font-weight bold
        line-height 56px
        letter-spacing 0.015em
        flex 0 0 480px
        width 480px
        max-width 480px

        @media (max-width 1279px)
            flex none
            width 100%
            max-width 100%
            margin-bottom 15px

        @media (max-width 767px)    
            font-size 28px
            line-height 31px
            margin-bottom 20px

    &__desc
        font-size 20px
        line-height 35px
        flex 0 0 410px
        width 410px
        max-width 410px

        @media (max-width 1279px)
            flex none
            width 100%
            max-width 100%
            margin-bottom 50px

        @media (max-width 767px)    
            font-size 19px
            line-height 32px    

    &__info
        flex 0 0 400px    
        width 400px
        max-width 400px
        margin-left 90px

        @media (max-width 1279px)
            flex none
            width 100%
            max-width 100%
            margin-left 0

    &__go-to-email
        font-size 20px
        color #FFF        
        line-height 28px
        margin-bottom 10px

        @media (max-width 767px) 
            margin-bottom 30px

        a
            font-size 20px
            color #789CE1
            line-height 28px
            border-bottom 1px dashed #789CE1
            &:hover
                text-decoration none
                border-color transparent

    &__btn-download
        margin-bottom 20px   

        &.btn-general
            &:hover
                color #fff

            @media (max-width 480px) 
                min-width 100%    

    &__btn-call
        &.btn-extra
            color #fff
            border 1px solid rgba(255, 255, 255, 0.28)     

            @media (max-width 480px) 
                min-width 100%    

    &__note
        font-size 15px
        color rgba(254, 254, 254, 0.34)   
        line-height 24px
        margin-top 20px
        width 290px
        max-width 100%

/*! first-step END */