<div block="first-step" data-aos="fade-up" data-aos-duration="800">
    <div elem="section">
        <div elem="inner">
            <div elem="title">Первый шаг к энергосервисному контракту</div>
            <div elem="info"> 
                <div elem="go-to-email">
                    Заполните опросный лист и отправьте 
                    на почту: <a href="mailto:esco@econex.ru">esco@econex.ru</a>
                </div>
                <a elem="btn-download" class="btn-general" href="#">скачать опросный лист</a>
                <button elem="btn-call" class="btn-general btn-extra" data-remodal-target="call" type="button">заказать звонок</button>
                <div elem="note">Если у Вас возникли трудности при заполнении, закажите звонок — мы всегда готовы помочь</div>
            </div>
        </div>
    </div>
</div><!-- first-step -->