::-moz-selection {
  background: #03a9f4;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #03a9f4;
  color: #fff;
  text-shadow: none;
}

h1::-moz-selection,
.h1::-moz-selection,
h2::-moz-selection,
.h2::-moz-selection,
h3::-moz-selection,
.h3::-moz-selection,
h4::-moz-selection,
.h4::-moz-selection,
h5::-moz-selection,
.h5::-moz-selection,
h6::-moz-selection,
.h6::-moz-selection,
h1 *::-moz-selection,
.h1 *::-moz-selection,
h2 *::-moz-selection,
.h2 *::-moz-selection,
h3 *::-moz-selection,
.h3 *::-moz-selection,
h4 *::-moz-selection,
.h4 *::-moz-selection,
h5 *::-moz-selection,
.h5 *::-moz-selection,
h6 *::-moz-selection,
.h6 *::-moz-selection {
  background: #ffc107;
  color: #000;
  text-shadow: none;
}

h1::selection,
.h1::selection,
h2::selection,
.h2::selection,
h3::selection,
.h3::selection,
h4::selection,
.h4::selection,
h5::selection,
.h5::selection,
h6::selection,
.h6::selection,
h1 *::selection,
.h1 *::selection,
h2 *::selection,
.h2 *::selection,
h3 *::selection,
.h3 *::selection,
h4 *::selection,
.h4 *::selection,
h5 *::selection,
.h5 *::selection,
h6 *::selection,
.h6 *::selection {
  background: #ffc107;
  color: #000;
  text-shadow: none;
}

::-webkit-input-placeholder {
  color: rgba(33,37,41,0.54);
}

:-moz-placeholder {
  color: rgba(33,37,41,0.54);
}

::-moz-placeholder {
  color: rgba(33,37,41,0.54);
}

:-ms-input-placeholder {
  color: rgba(33,37,41,0.54);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: "Product Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
  -webkit-overflow-scrolling: touch;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
  -webkit-overflow-scrolling: touch;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  -webkit-overflow-scrolling: touch;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

blockquote {
  padding: 15px;
  padding-left: 20px;
  border-left: 5px solid #03a9f4;
  background-color: rgba(3,169,244,0.03);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $headings-font;
}

svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.main-svg-sprite {
  display: none;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  font-size: 0;
}

.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}

@font-face {
  font-family: 'Product Sans';
  src: url("../fonts/ProductSans-Regular.woff2") format('woff2'), url("../fonts/ProductSans-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url("../fonts/ProductSans-Bold.woff2") format('woff2'), url("../fonts/ProductSans-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Bold.woff2") format('woff2'), url("../fonts/ProximaNova-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Extrabld.woff2") format('woff2'), url("../fonts/ProximaNova-Extrabld.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Regular.woff2") format('woff2'), url("../fonts/ProximaNova-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
  Browser Upgrade Prompt
  ========================================================================== */

.browserupgrade {
  margin: $appGutter 0;
  background: #ccc;
  color: #000;
  padding: $appGutter 0;
}

.theme-color {
  color: ;
}

/**
 * The CSS class screen-reader-text
 *
 * @link https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
 */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
  -webkit-overflow-scrolling: touch;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000 ;
}

* {
  min-width: 0;
  min-height: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.app-footer {
  -ms-flex: none;
      flex: none;
}

.app-footer__section {
  border-top: 1px solid rgba(0,0,0,0.12);
  border-bottom: 1px solid rgba(0,0,0,0.12);
}

.app-footer__inner {
  display: -ms-flexbox;
  display: flex;
}

.app-footer__menu {
  -ms-flex: 0 0 585px;
      flex: 0 0 585px;
  width: 585px;
  max-width: 585px;
  margin-right: 20px;
  padding-top: 50px;
}

.app-footer__contacts {
  padding-top: 50px;
}

.app-footer__phone {
  text-align: right;
  margin-bottom: 5px;
}

.app-footer__phone a {
  font-size: 21px;
  color: #3f4653;
  line-height: 24px;
}

.app-footer__phone a:hover {
  text-decoration: none;
}

.app-footer__phone span {
  font-size: 13px;
  color: #888f9c;
  line-height: 18px;
  display: block;
}

.app-footer__btn-call-back {
  margin-top: 20px;
}

.app-footer__btn-call-back.btn-extra {
  min-width: 195px;
}

.app-footer__privacy-policy {
  margin-top: 50px;
}

.app-footer__privacy-policy a {
  font-size: 13px;
  line-height: 16px;
  color: #1f90e1;
  border-bottom: 1px dashed #0081de;
}

.app-footer__privacy-policy a:hover {
  text-decoration: none;
  border: none;
}

.app-footer__copy {
  font-size: 13px;
  color: #828589;
  line-height: 18px;
  padding-top: 20px;
  padding-bottom: 25px;
}

.social-links {
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.social-links__link {
  margin-right: 20px;
}

.social-links__link:last-child {
  margin-right: 0;
}

.social-links__icon {
  width: 45px;
}

.app-header {
  -ms-flex: none;
      flex: none;
  margin-bottom: 30px;
}

.app-header__inner {
  width: 1500px;
  max-width: 100%;
  margin: 95px auto 0;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

html {
  min-height: 100%;
  min-height: 100vh;
}

* {
  outline: none !important;
}

h1 {
  font-size: 60px;
  color: #2c323e;
  font-family: 'Proxima Nova', Arial, sans-serif;
  font-weight: 900;
  line-height: 68px;
  letter-spacing: 0.015em;
  margin-top: 25px;
  margin-bottom: 35px;
}

h2.title-h2 {
  font-size: 60px;
  color: #2c323e;
  font-family: 'Proxima Nova', Arial, sans-serif;
  font-weight: 900;
  line-height: 68px;
  letter-spacing: 0.015em;
  margin-bottom: 35px;
}

h3 {
  font-size: 36px;
  color: #2c323e;
  font-family: 'Proxima Nova', Arial, sans-serif;
  font-weight: 900;
  line-height: 41px;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

input[type=text],
input[type=mail],
input[type=tel] {
  font-size: 17px;
  color: #9c9c9c;
  line-height: 27px;
  height: 56px;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
}

textarea {
  font-size: 17px;
  color: #9c9c9c;
  line-height: 27px;
  height: 56px;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
}

::-webkit-input-placeholder {
  font-size: 17px;
  color: #9c9c9c;
}

::-moz-placeholder {
  font-size: 17px;
  color: #9c9c9c;
}

:-ms-input-placeholder {
  font-size: 17px;
  color: #9c9c9c;
}

::-ms-input-placeholder {
  font-size: 17px;
  color: #9c9c9c;
}

::placeholder {
  font-size: 17px;
  color: #9c9c9c;
}

.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__inner-block,
.app__inner-block-full {
  -ms-flex: none;
      flex: none;
}

.app__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

.app__aside {
  -ms-flex: 0 0 265px;
      flex: 0 0 265px;
  width: 265px;
  max-width: 265px;
  padding-top: 35px;
  margin-right: 55px;
  -ms-flex-order: -1;
      order: -1;
}

.app__main {
  -ms-flex: 1 1;
      flex: 1 1;
}

.contain {
  width: 1265px;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.btn-general {
  font-size: 12px;
  color: #fff;
  line-height: 16px;
  letter-spacing: 0.16em;
  text-align: center;
  text-transform: uppercase;
  padding: 22px 20px 18px;
  background-color: #06f;
  border: none;
  border-radius: 3px;
  min-width: 280px;
  display: inline-block;
  vertical-align: top;
  transition: background-color 0.3s, color 0.3s;
}

.btn-general:hover {
  text-decoration: none;
  background-color: #1a75ff;
}

.btn-general.btn-general:active {
  background-color: #005ce6;
}

.btn-general.btn-extra {
  color: #0575dc;
  font-weight: 900;
  background-color: transparent;
  border: 2px solid #0575dc;
}

.btn-general.btn-extra:hover {
  color: #fff;
  text-decoration: none;
  background-color: #0575dc;
}

.jq-checkbox {
  -ms-flex: 0 0 20px;
      flex: 0 0 20px;
  width: 20px;
  max-width: 20px;
  height: 20px;
  border: 1px solid #0575dc;
  border-radius: 3px;
  margin-right: 10px;
  padding-top: 4px;
  padding-left: 3px;
  transition: background-color 0.3s;
}

.jq-checkbox.checked {
  background-color: #0575dc;
}

.jq-checkbox.checked .jq-checkbox__div {
  opacity: 1;
}

.jq-checkbox__div {
  width: 12px;
  height: 6px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0;
  transition: opacity 0.3s;
}

.jq-selectbox {
  width: 100%;
  cursor: pointer;
}

.jq-selectbox.opened .jq-selectbox__trigger-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.jq-selectbox.dropup ul {
  margin-bottom: 0;
}

.jq-selectbox__select {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 20px 20px 19px;
}

.jq-selectbox__select-text {
  font-size: 16px;
  color: #8c8c8c;
  line-height: 19px;
  letter-spacing: 0.05em;
}

.jq-selectbox__dropdown {
  width: 100% !important;
}

.jq-selectbox__dropdown ul {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  padding-left: 0;
}

.jq-selectbox__dropdown ul li {
  font-size: 16px;
  color: #8c8c8c;
  line-height: 19px;
  letter-spacing: 0.05em;
  padding: 10px 30px 10px 20px;
}

.jq-selectbox__dropdown ul li:hover {
  background-color: #f5fafd;
}

.jq-selectbox__dropdown ul li.selected {
  background-color: #f5fafd;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.jq-selectbox__trigger-arrow {
  width: 12px;
  height: 7px;
  background: url("../img/arr-icon.svg") 0 0 no-repeat;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.irs--flat .irs-line {
  height: 1px;
  background-color: #bfcbe1;
}

.irs--flat .irs-bar {
  top: 24px;
  height: 3px;
  background-color: #0575dc;
}

.irs--flat .irs-handle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 16px 8px;
  border-color: transparent transparent #0574dc transparent;
  background-color: transparent;
  top: 24px;
}

.irs--flat .irs-handle i {
  display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  display: none;
}

.irs-min,
.irs-max {
  display: none;
}

table.table-products {
  width: 100%;
}

table.table-products th {
  font-size: 13px;
  color: #999;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: 0.05em;
  padding-bottom: 5px;
  padding-left: 40px;
}

table.table-products tbody {
  font-size: 16px;
  color: #3f4653;
  line-height: 18px;
  letter-spacing: 0.05em;
}

table.table-products tbody tr {
  transition: background-color 0.3s;
}

table.table-products tbody tr td {
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
  position: relative;
}

table.table-products tbody tr:nth-child(odd) {
  background-color: #f7f7f7;
}

table.table-products tbody tr:hover {
  background-color: #fff;
  box-shadow: 0px 3px 18px rgba(0,0,0,0.04);
}

table.table-products tbody tr:hover .products-modification-name {
  color: #0081de;
  border-bottom: 1px dashed #0081de;
}

table.table-products tbody .products-modification-name {
  font-size: 16px;
  line-height: 18px;
  color: #3f4653;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px dashed transparent;
  transition: border-color 0.3s, color 0.3s;
}

table.table-products tbody .products-modification-to-archive {
  font-size: 14px;
  color: #fff;
  line-height: 19px;
  padding: 3px 5px;
  background-color: #06192b;
  border-radius: 2px;
  position: absolute;
  top: 33px;
  left: 15px;
}

table.table-products tbody .products-modification-to-archive:before {
  content: '';
  position: absolute;
  top: -22px;
  left: 0;
  width: 15px;
  height: 15px;
  background: url("../img/archive-icon.svg") 0 0 no-repeat;
}

table.table-products tbody a {
  font-size: 18px;
  color: #0081de;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: #0081de;
  border-bottom: 1px dashed #0081de;
}

table.table-products tbody a:hover {
  text-decoration: none;
  border-color: transparent;
}

table.table-products tbody span {
  font-size: 12px;
  color: #afafaf;
  line-height: 20px;
  letter-spacing: 0.05em;
  display: block;
}

.remodal {
  text-align: left;
}

.remodal-close {
  top: 15px;
  right: 20px;
}

.remodal-close:before {
  font-size: 50px;
}

.remodal-wrapper {
  padding: 0;
}

.inner-head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.additional-products {
  margin-top: 70px;
}

.additional-products table.table-products tr td:nth-child(2) {
  width: 45%;
  padding-right: 60px;
}

.catalog-products {
  background-color: #062a4b;
}

.catalog-products__section {
  padding-top: 45px;
  padding-bottom: 55px;
}

.catalog-products__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.catalog-products__items .owl-prev,
.catalog-products__items .owl-next {
  width: 120px;
  height: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.catalog-products__items .owl-prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.catalog-products__items .owl-next {
  right: 0;
}

.catalog-products__item {
  color: #fff;
  text-align: center;
  -ms-flex: 0 0 150px;
      flex: 0 0 150px;
  width: 150px;
  max-width: 150px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.catalog-products__item:hover {
  color: #749bbf;
  text-decoration: none;
}

.catalog-products__item:hover .catalog-products__icon-static {
  display: none;
}

.catalog-products__item:hover .catalog-products__icon-hover {
  display: block;
}

.catalog-products__icon {
  margin-bottom: 30px;
  display: block;
}

.catalog-products__icon-static {
  display: block;
}

.catalog-products__icon-hover {
  display: none;
}

.catalog-products__name {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.05em;
  display: block;
  width: 150px;
  max-width: 100%;
}

/* completed-projects */

.completed-projects {
  margin-bottom: 120px;
}

.completed-projects__title {
  font-size: 36px;
  color: #2c323e;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0.015em;
  margin-bottom: 30px;
}

.completed-projects__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 20px 35px;
  border-top: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
  border-radius: 3px;
}

.completed-projects__item:last-child {
  border-bottom: 1px solid #d6d6d6;
}

.completed-projects__item:hover .completed-projects__pic img {
  -webkit-filter: none;
          filter: none;
}

.completed-projects__pic {
  -ms-flex: 0 0 72px;
      flex: 0 0 72px;
  width: 72px;
  max-width: 72px;
  margin-right: 20px;
}

.completed-projects__pic img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.completed-projects__name {
  font-size: 20px;
  color: #3f4653;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.05em;
}

.completed-projects__desc {
  font-size: 15px;
  color: #9c9c9c;
  line-height: 28px;
}

.completed-projects__save {
  font-size: 20px;
  color: #00c64f;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: center;
  padding: 10px 20px;
  background-color: rgba(0,198,79,0.12);
  border-radius: 3px;
  margin-left: auto;
  -ms-flex: 0 0 190px;
      flex: 0 0 190px;
  width: 190px;
  max-width: 190px;
}

/* completed-projects END */

/* contacts-info */

.contacts-info {
  margin-bottom: 100px;
}

.contacts-info__title {
  font-size: 25px;
  color: #2c323e;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.contacts-info__items {
  display: -ms-flexbox;
  display: flex;
  margin-left: -35px;
  margin-bottom: 50px;
}

.contacts-info__item {
  width: 33.333%;
  padding-left: 35px;
}

.contacts-info__item--main .contacts-info__body {
  display: block;
}

.contacts-info__item--main .contacts-info__phone {
  font-size: 30px;
  line-height: 48px;
  font-weight: 600;
}

.contacts-info__body {
  padding: 20px 40px;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.contacts-info__phone {
  font-size: 17px;
  color: #3f4653;
  line-height: 27px;
  font-weight: normal;
}

.contacts-info__phone:hover {
  color: #3f4653;
  text-decoration: none;
}

.contacts-info__address {
  font-size: 17px;
  color: #3f4653;
  line-height: 23px;
  margin-bottom: 10px;
}

.contacts-info__mail {
  font-size: 17px;
  color: #0081de;
  line-height: 23px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #0081de;
}

.contacts-info__mail:hover {
  color: #0081de;
  text-decoration: none;
  border-color: transparent;
}

.contacts-info__img {
  -ms-flex: 0 0 120px;
      flex: 0 0 120px;
  width: 120px;
  max-width: 120px;
  margin-right: 25px;
}

.contacts-info__name {
  font-size: 20px;
  color: #3f4653;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.05em;
}

.contacts-info__place {
  font-size: 14px;
  color: #757d8d;
  line-height: 14px;
  letter-spacing: 0.05em;
  margin-top: 5px;
}

.contacts-info__person-contacts {
  margin-top: 15px;
}

.contacts-info__map iframe {
  width: 100% !important;
}

/* contacts-info END */

.description-products__section {
  display: -ms-flexbox;
  display: flex;
}

.description-products__content {
  -ms-flex: 0 0 600px;
      flex: 0 0 600px;
  width: 600px;
  max-width: 600px;
  margin-right: 45px;
}

.description-products__info {
  margin-bottom: 20px;
}

.description-products__name {
  font-size: 16px;
  color: #3f4653;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.description-products__text {
  font-size: 15px;
  color: #747880;
  font-weight: normal;
  line-height: 23px;
  letter-spacing: 0.05em;
}

.description-products__parameters table.table-products tr td:nth-child(1) {
  width: 70%;
}

.description-products__parameters table.table-products tr td:nth-child(2) {
  color: #747880;
}

/* documents-products--more */

.documents-products--more {
  padding-top: 35px;
  margin-bottom: 115px;
}

.documents-products--more .documents-products__head {
  margin-bottom: 20px;
}

.documents-products--more .documents-products__title {
  font-size: 30px;
  color: #2c323e;
  text-transform: none;
  letter-spacing: 0.015em;
}

/* documents-products--more END */

.documents-products__head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 25px;
}

.documents-products__item {
  margin-bottom: 30px;
}

.documents-products__title {
  font-size: 14px;
  color: #3f4653;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.185em;
  text-transform: uppercase;
}

.documents-products__downdload-archive {
  font-size: 16px;
  color: #0081de;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.01em;
  border-bottom: 1px dashed #0081de;
}

.documents-products__downdload-archive:hover {
  color: #0081de;
  text-decoration: none;
  border-color: transparent;
}

.documents-products__content {
  font-size: 16px;
  color: #3f4653;
  line-height: 18px;
  letter-spacing: 0.05em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 15px 30px 15px 60px;
  width: 100%;
  position: relative;
}

.documents-products__content:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 20px;
  width: 30px;
  height: 30px;
  background: url("../img/pdf2-icon.svg") 0 0 no-repeat;
}

.documents-products__content:nth-child(even) {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ececec;
}

.documents-products__content:hover {
  color: #0081de;
  text-decoration: none;
}

.documents-products__content:hover .documents-products__name {
  border-bottom: 1px dashed #0081de;
}

.documents-products__name {
  border-bottom: 1px dashed transparent;
}

.download-full-catalog {
  margin-top: 120px;
  margin-bottom: 35px;
  -ms-flex: none;
      flex: none;
}

.download-full-catalog__items {
  display: -ms-flexbox;
  display: flex;
}

.download-full-catalog__item {
  -ms-flex: 0 0 48%;
      flex: 0 0 48%;
  width: 48%;
  max-width: 48%;
  background-color: #0575dc;
  border-radius: 3px;
  position: relative;
  padding: 210px 35px 35px 35px;
  margin-bottom: 35px;
}

.download-full-catalog__item:nth-child(2) {
  background-color: #352e87;
  margin-left: 40px;
}

.download-full-catalog__item:nth-child(2) .download-full-catalog__img {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.download-full-catalog__img {
  text-align: center;
  width: 500px;
  max-width: 100%;
  position: absolute;
  top: -100px;
  left: 50%;
  -webkit-transform: translateX(-45%);
          transform: translateX(-45%);
  margin: 0 auto;
}

.download-full-catalog__file {
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #fff;
  padding-left: 65px;
  position: relative;
}

.download-full-catalog__file:before {
  content: '';
  position: absolute;
  top: -25px;
  left: 0;
  width: 46px;
  height: 50px;
  background: url("../img/pdf-icon.svg") 0 0 no-repeat;
}

.download-full-catalog__file a {
  font-size: 19px;
  line-height: 24px;
  color: #fff;
  border-bottom: 0.5px dashed #fff;
}

.download-full-catalog__file a:hover {
  text-decoration: none;
  border-bottom: none;
}

.download-full-catalog__file span {
  margin-left: 5px;
}

/* energy-service-contracts */

.energy-service-contracts {
  margin-bottom: 90px;
}

.energy-service-contracts__head {
  position: relative;
  margin-bottom: 60px;
}

.energy-service-contracts__title {
  font-size: 80px;
  color: #fff;
  font-weight: 800;
  line-height: 74px;
  letter-spacing: 0.015em;
  margin-bottom: 60px;
  position: absolute;
  bottom: 0;
  left: 55px;
  z-index: 2;
}

.energy-service-contracts__img {
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.energy-service-contracts__img:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(0,0,0,0) -8.9%, rgba(0,0,0,0) -8.89%, rgba(0,0,0,0.64) 100%, #000 100%);
  z-index: 1;
}

.energy-service-contracts__content {
  display: -ms-flexbox;
  display: flex;
}

.energy-service-contracts__text {
  font-size: 16px;
  color: #38404e;
  font-weight: normal;
  line-height: 31px;
  width: 650px;
  max-width: 100%;
}

.energy-service-contracts__text p {
  margin-bottom: 25px;
}

.energy-service-contracts__text p:last-child {
  margin-bottom: 0;
}

.energy-service-contracts__info {
  width: 495px;
  max-width: 100%;
  padding: 30px 40px 50px 40px;
  border: 1px solid #dedede;
  border-radius: 3px;
  margin-left: 85px;
}

.energy-service-contracts__name {
  font-size: 20px;
  color: #a5a7ab;
  line-height: 25px;
  letter-spacing: 0.05em;
  margin-bottom: 25px;
}

.energy-service-contracts__data-consumption {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 25px;
}

.energy-service-contracts__data-consumption-item {
  width: 190px;
  max-width: 100%;
}

.energy-service-contracts__data-consumption-item strong {
  font-size: 20px;
  color: #3f4653;
  line-height: 25px;
  letter-spacing: 0.05em;
  display: block;
}

.energy-service-contracts__data-consumption-item span {
  font-size: 15px;
  color: #9c9c9c;
  line-height: 23px;
  display: block;
}

/* energy-service-contracts END */

/* first-step */

.first-step {
  margin-bottom: 100px;
}

.first-step__inner {
  color: #fff;
  background-color: #062a4b;
  border-radius: 3px;
  padding: 80px 105px 85px 70px;
  display: -ms-flexbox;
  display: flex;
}

.first-step__title {
  font-size: 50px;
  font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: 0.015em;
  -ms-flex: 0 0 480px;
      flex: 0 0 480px;
  width: 480px;
  max-width: 480px;
}

.first-step__desc {
  font-size: 20px;
  line-height: 35px;
  -ms-flex: 0 0 410px;
      flex: 0 0 410px;
  width: 410px;
  max-width: 410px;
}

.first-step__info {
  -ms-flex: 0 0 400px;
      flex: 0 0 400px;
  width: 400px;
  max-width: 400px;
  margin-left: 90px;
}

.first-step__go-to-email {
  font-size: 20px;
  color: #fff;
  line-height: 28px;
  margin-bottom: 10px;
}

.first-step__go-to-email a {
  font-size: 20px;
  color: #789ce1;
  line-height: 28px;
  border-bottom: 1px dashed #789ce1;
}

.first-step__go-to-email a:hover {
  text-decoration: none;
  border-color: transparent;
}

.first-step__btn-download {
  margin-bottom: 20px;
}

.first-step__btn-download.btn-general:hover {
  color: #fff;
}

.first-step__btn-call.btn-extra {
  color: #fff;
  border: 1px solid rgba(255,255,255,0.28);
}

.first-step__note {
  font-size: 15px;
  color: rgba(254,254,254,0.34);
  line-height: 24px;
  margin-top: 20px;
  width: 290px;
  max-width: 100%;
}

/* first-step END */

.footer-menu {
  display: -ms-flexbox;
  display: flex;
}

.footer-menu__title {
  font-size: 14px;
  color: #111010;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0.005em;
  margin-bottom: 20px;
  position: relative;
}

.footer-menu__title:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 25px;
  width: 10px;
  height: 10px;
  background: url("../img/arr2-icon.svg") 0 0 no-repeat;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.footer-menu__title.is-active-title:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer-menu__nav {
  margin-right: 35px;
}

.footer-menu__nav:last-child {
  margin-right: 0;
}

.footer-menu__nav ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.footer-menu__nav ul li {
  line-height: 17px;
  margin-bottom: 15px;
}

.footer-menu__nav ul li a {
  font-size: 14px;
  color: #454545;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.005em;
  margin-bottom: 20px;
}

/* general-docs */

.general-docs {
  margin-bottom: 25px;
}

.general-docs__section {
  padding: 45px 40px 0;
  background-color: #f4f4f4;
  border-radius: 2px;
}

.general-docs__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -55px;
}

.general-docs__item {
  -ms-flex: 0 0 33%;
      flex: 0 0 33%;
  width: 33%;
  max-width: 33%;
  padding-left: 55px;
  margin-bottom: 40px;
}

.general-docs__body {
  display: -ms-flexbox;
  display: flex;
}

.general-docs__icon {
  -ms-flex: 0 0 51px;
      flex: 0 0 51px;
  width: 51px;
  max-width: 51px;
  margin-right: 15px;
}

.general-docs__name {
  font-size: 16px;
  color: #3f4653;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.05em;
  border-bottom: 1px dashed #3f4653;
  transition: color 0.3s, border-color 0.3s;
}

.general-docs__name:hover {
  color: #0081de;
  text-decoration: none;
  border-color: transparent;
}

.general-docs__date {
  font-size: 14px;
  color: #757d8d;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: 0.05em;
  margin-top: 5px;
}

/* general-docs END */

/* guarantee */

.guarantee {
  margin-bottom: 80px;
}

.guarantee__items {
  display: -ms-flexbox;
  display: flex;
}

.guarantee__left {
  width: 49%;
  margin-right: 35px;
}

.guarantee__left .guarantee__item {
  background-color: #f3f3f3;
  border-radius: 3px;
  margin-bottom: 30px;
}

.guarantee__left .guarantee__item:last-child {
  margin-bottom: 0;
}

.guarantee__right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 49%;
  background: #00c64f;
  border-radius: 3px;
}

.guarantee__right .guarantee__name {
  color: #fff;
}

.guarantee__right .guarantee__icon {
  margin-right: 30px;
}

.guarantee__item {
  padding: 50px 90px 50px 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.guarantee__icon {
  -ms-flex: 0 0 110px;
      flex: 0 0 110px;
  width: 110px;
  max-width: 110px;
}

.guarantee__name {
  font-size: 25px;
  color: #2c323e;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.05em;
}

/* guarantee END */

.main-menu__nav ul {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}

.main-menu__nav ul li {
  margin-right: 45px;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
}

.main-menu__nav ul li:last-child {
  margin-right: 0;
}

.main-menu__nav ul li a {
  line-height: 22px;
  color: #3f4653;
  display: block;
  transition: color 0.3s;
}

.main-menu__nav ul li a:hover {
  color: #0081de;
  text-decoration: none;
}

.main-menu__nav ul li.dropdown-wrap {
  position: relative;
  cursor: pointer;
}

.main-menu__nav ul li.dropdown-wrap:before {
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  width: 22px;
  height: 20px;
  background: url("../img/menu-more.svg") 50% 50% no-repeat;
}

.main-menu__nav ul li.dropdown-wrap ul {
  list-style-type: none;
  border-radius: 3px;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: -50px;
  box-shadow: 0px 49px 72px rgba(0,0,0,0.33);
  background-color: #fff;
  width: 200px;
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  z-index: 10;
}

.main-menu__nav ul li.dropdown-wrap ul li {
  padding: 5px 0;
}

.main-menu__nav ul li.dropdown-wrap ul li:last-child {
  margin-bottom: 0;
}

.main-menu__nav ul li.dropdown-wrap ul li.is-active-sity a {
  color: #adadad;
  cursor: default;
}

.main-menu__nav ul li.dropdown-wrap ul li.is-active-sity a:hover {
  color: #adadad;
}

.main-menu__nav ul li.dropdown-wrap ul li a {
  font-size: 16px;
  color: #3f4653;
  text-decoration: none;
  transition: color 0.3s;
  display: block;
}

.main-menu__nav ul li.dropdown-wrap ul li a:hover {
  color: #0081de;
}

.mobile-menu {
  z-index: 51;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.mobile-menu.is-active-mobile-menu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__section {
  width: 300px;
  height: 100vh;
  padding: 25px;
  background-color: #fbfbfb;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.mobile-menu__phone {
  font-size: 20px;
  color: #3f4653;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0.055em;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
}

.mobile-menu__phone:hover {
  color: #3f4653;
  text-decoration: none;
}

.mobile-menu .main-menu__nav ul {
  display: block;
}

.mobile-menu .main-menu__nav ul li {
  padding: 10px 0;
  margin-right: 0;
}

.mobile-menu .main-menu__nav ul li a {
  font-size: 18px;
}

.mobile-panel {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fbfbfb;
}

.mobile-panel__section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.12);
}

.mobile-panel__section .select-sity {
  margin-bottom: 10px;
}

.mobile-panel__btn-burger {
  -ms-flex: 0 0 70px;
      flex: 0 0 70px;
  width: 70px;
  max-width: 70px;
  height: 70px;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  border: none;
  border-right: 1px solid rgba(0,0,0,0.12);
  background-color: transparent;
}

.mobile-panel__btn-close {
  position: absolute;
  top: 30px;
  right: 15px;
  width: 50px;
  height: 50px;
  background: url("../img/close-x.svg") 50% 50% no-repeat;
  border: none;
  background-color: transparent;
}

.mobile-panel__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 50;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.mobile-panel__menu.is-active-menu {
  opacity: 1;
  pointer-events: auto;
}

.mobile-panel__btn-phone {
  -ms-flex: 0 0 70px;
      flex: 0 0 70px;
  width: 70px;
  max-width: 70px;
  height: 70px;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  border: none;
  border-left: 1px solid rgba(0,0,0,0.12);
  background-color: transparent;
}

.mobile-panel .logo {
  -ms-flex: 0 0 135px;
      flex: 0 0 135px;
  width: 135px;
  max-width: 135px;
  margin: 0;
}

.mobile-panel .logo__img {
  width: 100%;
}

.page-scroller {
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  z-index: 1050;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background-color: rgba(3,169,244,0.1);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: opacity 0.16s linear;
  pointer-events: none;
}

.page-scroller__ctrl {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  fill: #666;
  width: 24px;
  height: 24px;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.page-scroller:hover,
.page-scroller:focus {
  background-color: rgba(3,169,244,0.12);
}

.page-scroller:active {
  background-color: rgba(3,169,244,0.14);
}

.page-scroller--memorized .page-scroller__ctrl {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-scroller--memorized,
.page-scroller--visible {
  opacity: 1;
  pointer-events: auto;
}

.popup-form-call {
  max-width: 100%;
  height: 100%;
  margin-bottom: 0;
  background-color: #062a4b;
}

.popup-form-call__section {
  width: 1095px;
  max-width: 100%;
  margin: 0 auto;
}

.popup-form-call__head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.popup-form-call__btn-back {
  position: relative;
}

.popup-form-call__btn-back.btn-extra {
  color: #fff;
  font-weight: normal;
  border-color: #fff;
  min-width: 250px;
  padding-right: 20px;
  padding-left: 50px;
}

.popup-form-call__btn-back.btn-extra:hover {
  background-color: transparent;
}

.popup-form-call__btn-back:before {
  content: '';
  position: absolute;
  top: 22px;
  left: 30px;
  width: 12px;
  height: 12px;
  background: url("../img/slider-arr.svg") 0 0 no-repeat;
  background-size: contain;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.popup-form-call__phone {
  text-align: right;
}

.popup-form-call__phone a {
  font-size: 23px;
  color: #fff;
  line-height: 26px;
  display: block;
}

.popup-form-call__phone a:hover {
  text-decoration: none;
}

.popup-form-call__phone span {
  font-size: 14px;
  color: rgba(255,255,255,0.4);
  line-height: 18px;
}

.popup-form-call__form {
  width: 615px;
  max-width: 100%;
  margin: 0 auto;
}

.popup-form-call__title {
  font-size: 50px;
  color: #fff;
  font-family: "Proxima Nova";
  font-weight: bold;
  line-height: 52px;
  letter-spacing: 0.015em;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.popup-form-call__desc {
  font-size: 20px;
  color: #fff;
  line-height: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.popup-form-call__inputs {
  margin-top: 50px;
}

.popup-form-call__input {
  width: 320px;
  max-width: 100%;
  margin-bottom: 20px;
}

.popup-form-call__input input {
  color: #fff;
  font-weight: normal;
  width: 100%;
  background-color: transparent;
}

.popup-form-call__btn-submit {
  margin-top: 25px;
}

.popup-form-call__btn-submit.btn-general {
  min-width: 320px;
}

.popup-form-call__bottom {
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 20px;
}

.popup-form-call__privacy-policy {
  width: 305px;
  max-width: 100%;
}

.popup-form-call__label {
  font-size: 13px;
  line-height: 21px;
  color: rgba(255,255,255,0.35);
  display: -ms-flexbox;
  display: flex;
}

.popup-form-call__label a {
  color: #1f90e1;
  border-bottom: 1px dashed #0081de;
}

.popup-form-call__label a:hover {
  text-decoration: none;
  border: none;
}

.popup-form-call__reply-to {
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  text-align: right;
}

.popup-form-call__reply-to span {
  font-size: 14px;
  color: rgba(255,255,255,0.4);
  line-height: 16px;
}

.popup-form-message {
  max-width: 500px;
  padding: 50px;
}

.popup-form-message__title {
  font-size: 25px;
  line-height: 30px;
  color: #3f4653;
  margin-bottom: 20px;
}

.popup-form-message__input {
  width: 100%;
  margin-bottom: 20px;
}

.popup-form-message__input input,
.popup-form-message__input textarea {
  width: 100%;
}

.popup-form-message__input textarea {
  min-height: 100px;
}

.popup-form-message__btn-submit.btn-general {
  min-width: 100%;
}

.popup-form-message__privacy-policy {
  width: 350px;
  max-width: 100%;
  margin-top: 20px;
}

.popup-form-message__label {
  font-size: 13px;
  line-height: 21px;
  color: #3f4653;
  display: -ms-flexbox;
  display: flex;
}

.popup-form-message__label a {
  color: #1f90e1;
  border-bottom: 1px dashed #0081de;
}

.popup-form-message__label a:hover {
  text-decoration: none;
  border: none;
}

.popup-privacy-policy__title {
  font-size: 25px;
  line-height: 28px;
  font-weight: 400;
  color: #3f4653;
  margin-bottom: 25px;
}

.popup-privacy-policy__content {
  font-size: 15px;
  line-height: 20px;
  color: #38404e;
}

/* popup-video */

.popup-video {
  max-width: 100%;
  height: 100%;
  margin-bottom: 0;
  background-color: #040d1f;
}

.popup-video__section {
  width: 1090px;
  max-width: 100%;
  padding-top: 50px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
}

.popup-video__info {
  -ms-flex: 0 0 340px;
      flex: 0 0 340px;
  width: 340px;
  max-width: 340px;
  margin-right: 75px;
}

.popup-video__video {
  -ms-flex: 0 0 660px;
      flex: 0 0 660px;
  width: 660px;
  max-width: 660px;
}

.popup-video__btn-back {
  position: relative;
  margin-bottom: 40px;
}

.popup-video__btn-back.btn-extra {
  color: #fff;
  font-weight: normal;
  border-color: #fff;
  min-width: 250px;
  padding-right: 20px;
  padding-left: 50px;
}

.popup-video__btn-back.btn-extra:hover {
  background-color: transparent;
}

.popup-video__btn-back:before {
  content: '';
  position: absolute;
  top: 22px;
  left: 30px;
  width: 12px;
  height: 12px;
  background: url("../img/slider-arr.svg") 0 0 no-repeat;
  background-size: contain;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.popup-video__title {
  font-size: 34px;
  color: #fff;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.04em;
  margin-bottom: 40px;
}

.popup-video__text {
  font-size: 18px;
  color: #fff;
  line-height: 22px;
  margin-bottom: 40px;
}

.popup-video__text .hidden-text-video span {
  margin-right: 10px;
  margin-bottom: 40px;
  display: block;
}

.popup-video__text .hidden-text-video span:last-child {
  margin-bottom: 0;
}

/* popup-video END */

.product-series {
  margin-bottom: 40px;
}

.product-series__img {
  -ms-flex: 0 0 600px;
      flex: 0 0 600px;
  width: 600px;
  max-width: 600px;
  background-color: #f1f1f1;
  border-radius: 2px;
  margin-right: 30px;
  background-size: cover;
  background-position: center center;
}

.product-series__img img {
  opacity: 0;
  width: 0;
  height: 0;
}

.product-series__inner {
  display: -ms-flexbox;
  display: flex;
}

.product-series__head h1 {
  line-height: 60px;
  margin-top: 0;
  margin-bottom: 0;
}

.product-series__desc {
  font-size: 15px;
  color: #9c9c9c;
  line-height: 28px;
  margin-bottom: 10px;
}

.product-series__btn-to-list-model {
  margin-bottom: 25px;
}

.product-series__text {
  font-size: 16px;
  color: #3f4653;
  line-height: 24px;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.product-series__options {
  margin-bottom: 40px;
}

.product-series__option {
  font-size: 18px;
  color: #38404e;
  line-height: 34px;
  letter-spacing: 0.025em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.product-series__icon {
  -ms-flex: 0 0 16px;
      flex: 0 0 16px;
  width: 16px;
  max-width: 16px;
  margin-right: 11px;
}

.product-series__warranty {
  width: 280px;
  max-width: 100%;
  background: rgba(0,198,79,0.12);
  border-radius: 3px;
  padding: 15px 20px 13px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: end;
  margin-right: 10px;
}

.product-series__lifetime {
  font-size: 43px;
  color: #00c64f;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0.01em;
  -ms-flex: 0 0 50px;
      flex: 0 0 50px;
  width: 50px;
  max-width: 50px;
  margin-right: 10px;
}

.product-series__lifetime-date {
  font-size: 13px;
  color: #00c64f;
  line-height: 19px;
  letter-spacing: 0.16em;
}

.product-series__lifetime-date span {
  font-size: 11px;
  color: rgba(0,198,79,0.62);
  line-height: 16px;
  letter-spacing: 0.16em;
}

.products-modification {
  margin-bottom: 100px;
}

.products-modification__tabs-switches {
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #f3f3f3;
}

.products-modification__tabs-switcher {
  font-size: 36px;
  color: #cbcbcb;
  font-weight: bold;
  line-height: 41px;
  padding: 0 0 10px 0;
  margin-right: 110px;
  background-color: transparent;
  border: none;
  position: relative;
  transition: color 0.3s;
}

.products-modification__tabs-switcher:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #0575dc;
  opacity: 0;
  transition: opacity 0.3s;
}

.products-modification__tabs-switcher:hover:before {
  opacity: 1;
}

.products-modification__tabs-switcher:last-child {
  margin-right: 0;
}

.products-modification__tabs-switcher.is-active-tabs-swither {
  color: #2c323e;
}

.products-modification__tabs-switcher.is-active-tabs-swither:before {
  opacity: 1;
}

.products-modification__tabs-container {
  margin-top: 30px;
}

.products-modification__tabs-content {
  display: none;
}

.products-modification__tabs-content.is-active-tabs-content {
  display: block;
}

.products-modification__title {
  font-size: 30px;
  color: #2c323e;
  font-weight: bold;
  line-height: 34px;
  padding: 0 0 5px 0;
  margin-bottom: 30px;
  background-color: transparent;
  border: none;
  position: relative;
  display: none;
}

.products-modification__title:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #0575dc;
}

.products-modification__archives {
  margin-top: 20px;
}

.products-modification__btn-archive {
  font-size: 12px;
  color: #3f4653;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.185em;
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}

.products-modification__btn-archive.is-active-btn-archive span:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.products-modification__btn-archive span {
  position: relative;
}

.products-modification__btn-archive span:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -35px;
  width: 25px;
  height: 25px;
  background: url("../img/archive2-icon.svg") 0 0 no-repeat;
}

.products-modification__btn-archive span:after {
  content: '';
  position: absolute;
  top: 3px;
  right: -20px;
  width: 10px;
  height: 7px;
  background: url("../img/arr2-icon.svg") 0 0 no-repeat;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.products-modification__archive-content {
  display: none;
}

.products {
  padding-top: 25px;
  margin-bottom: 30px;
}

.products__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
}

.product-thumb {
  padding-left: 15px;
  margin-bottom: 15px;
}

.product-thumb__body {
  width: 295px;
  height: 305px;
  padding: 20px 20px 15px;
  background-color: #f3f3f3;
  border-radius: 3px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: relative;
}

.product-thumb__name {
  font-size: 20px;
  color: #3f4653;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.05em;
  transition: color 0.3s;
}

.product-thumb__name:hover {
  text-decoration: none;
  color: #0081de;
}

.product-thumb__desc {
  font-size: 14px;
  color: #9c9c9c;
  line-height: 16px;
}

.product-thumb__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product-thumb__option {
  font-size: 14px;
  color: #38404e;
  line-height: 27px;
  letter-spacing: 0.025em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.product-thumb__icon {
  -ms-flex: 0 0 12px;
      flex: 0 0 12px;
  width: 12px;
  max-width: 12px;
  margin-right: 11px;
}

.questions {
  -ms-flex: none;
      flex: none;
  margin-bottom: 70px;
  position: relative;
  z-index: 5;
}

.questions__inner {
  color: #fff;
  background-color: #062a4b;
  border-radius: 3px;
  padding: 80px 105px 85px 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.questions__title {
  font-size: 50px;
  font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: 0.015em;
  -ms-flex: 0 0 320px;
      flex: 0 0 320px;
  width: 320px;
  max-width: 320px;
}

.questions__desc {
  font-size: 20px;
  line-height: 35px;
  -ms-flex: 0 0 410px;
      flex: 0 0 410px;
  width: 410px;
  max-width: 410px;
}

.questions__info {
  -ms-flex: 0 0 280px;
      flex: 0 0 280px;
  width: 280px;
  max-width: 280px;
}

.questions__btn-call {
  margin-bottom: 20px;
}

.questions__note {
  font-size: 15px;
  color: rgba(254,254,254,0.34);
  line-height: 24px;
  padding-left: 25px;
  position: relative;
}

.questions__note:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: url("../img/timelapse-icon.svg") 0 0 no-repeat;
}

.s-path {
  font-size: 18px;
  line-height: 30px;
  color: #c1c1c1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}

.s-path__separator {
  width: 7px;
  height: 9px;
  margin-right: 7px;
  margin-left: 7px;
  background: url("../img/arr-path.svg") 0 0 no-repeat;
  display: block;
}

.s-path a {
  font-size: 18px;
  color: #0575dc;
  line-height: 30px;
  text-decoration: underline;
}

.s-path a:hover {
  color: #0575dc;
  text-decoration: none;
}

.search {
  margin-bottom: 20px;
}

.search__form,
.search__body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
}

.search__form input[type=submit],
.search__body input[type=submit] {
  width: 54px;
  height: 54px;
  background: #fff url("../img/search-icon.svg") 50% 50% no-repeat;
  display: block;
  position: absolute;
  top: 1px;
  right: 1px;
  border: none;
}

/* select-sity-type2 */

.select-sity-type2 {
  position: relative;
}

.select-sity-type2__selected {
  font-size: 12px;
  color: #0081de;
  font-weight: 900;
  line-height: 16px;
  letter-spacing: 0.16em;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #0081de;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 20px;
  width: 280px;
  cursor: pointer;
}

.select-sity-type2__selected span {
  position: relative;
}

.select-sity-type2__selected span:after {
  content: '';
  position: absolute;
  top: 3px;
  right: -20px;
  width: 13px;
  height: 8px;
  background: url("../img/arr3-icon.svg") 0 0 no-repeat;
  background-size: contain;
}

.select-sity-type2__list-sity {
  list-style-type: none;
  border-right: 2px solid #0081de;
  border-bottom: 2px solid #0081de;
  border-left: 2px solid #0081de;
  padding-top: 15px;
  padding-left: 25px;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 100%;
  background-color: #fff;
  display: none;
}

.select-sity-type2__list-sity li {
  margin-bottom: 10px;
}

.select-sity-type2__list-sity li.is-active-sity a {
  color: #0081de;
  cursor: default;
}

.select-sity-type2__list-sity li a {
  font-size: 16px;
  color: #3f4653;
  text-decoration: none;
  transition: color 0.3s;
  display: block;
}

.select-sity-type2__list-sity li a:hover {
  color: #0081de;
}

/* select-sity-type2 END */

.select-sity {
  width: 180px;
  margin-right: 30px;
  position: relative;
}

.select-sity__selected {
  font-size: 16px;
  color: #0081de;
  line-height: 25px;
  position: relative;
  cursor: pointer;
  padding-left: 25px;
}

.select-sity__selected:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: url("../img/location-icon.png") 0 0 no-repeat;
}

.select-sity__selected .svg-icon--location-icon {
  fill: #fff;
}

.select-sity__selected span {
  line-height: 20px;
  border-bottom: 1px dashed #0081de;
}

.select-sity__list-sity {
  list-style-type: none;
  border-radius: 3px;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 0;
  box-shadow: 0px 49px 72px rgba(0,0,0,0.33);
  background-color: #fff;
  width: 200px;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 10;
}

.select-sity__list-sity li {
  padding: 5px 0;
}

.select-sity__list-sity li:last-child {
  margin-bottom: 0;
}

.select-sity__list-sity li.is-active-sity a {
  color: #adadad;
  cursor: default;
  pointer-events: none;
}

.select-sity__list-sity li.is-active-sity a:hover {
  color: #adadad;
}

.select-sity__list-sity li a {
  font-size: 16px;
  color: #3f4653;
  text-decoration: none;
  transition: color 0.3s;
  display: block;
}

.select-sity__list-sity li a:hover {
  color: #0081de;
}

/* stages-cooperation */

.stages-cooperation {
  background-color: #f4f4f4;
  margin-bottom: 80px;
}

.stages-cooperation__inner {
  padding-top: 50px;
  padding-bottom: 60px;
}

.stages-cooperation__title {
  font-size: 25px;
  color: #2c323e;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.05em;
  margin-bottom: 55px;
}

.stages-cooperation__items {
  margin-left: -135px;
  display: -ms-flexbox;
  display: flex;
}

.stages-cooperation__item {
  padding-left: 135px;
  width: 25%;
}

.stages-cooperation__body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.stages-cooperation__top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 70px;
  margin-bottom: 40px;
}

.stages-cooperation__text {
  font-size: 16px;
  color: #38404e;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.stages-cooperation__text a {
  font-size: 16px;
  color: #0081de;
  border-bottom: 1px dashed #0081de;
}

.stages-cooperation__text a:hover {
  color: #0081de;
  text-decoration: none;
  border-color: transparent;
}

/* stages-cooperation END */

.subscribe-newsletter {
  width: 375px;
  max-width: 100%;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 45px;
  margin-right: 55px;
  border-right: 1px solid rgba(0,0,0,0.12);
}

.subscribe-newsletter__title {
  font-size: 21px;
  line-height: 34px;
  color: #3c424f;
  margin-bottom: 25px;
}

.subscribe-newsletter__input {
  margin-bottom: 20px;
}

.subscribe-newsletter__input input {
  width: 100%;
}

.subscribe-newsletter__btn-subscribe {
  margin-bottom: 20px;
}

.subscribe-newsletter__btn-subscribe:hover input {
  background-color: #0575dc;
  color: #fff;
}

.subscribe-newsletter__btn-subscribe input {
  width: 100%;
  min-width: auto;
}

.subscribe-newsletter__label {
  font-size: 13px;
  line-height: 21px;
  color: #3f4653;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-newsletter__label a {
  color: #1f90e1;
  border-bottom: 1px dashed #0081de;
}

.subscribe-newsletter__label a:hover {
  text-decoration: none;
  border: none;
}

.top-line {
  padding-left: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fafafa;
  z-index: 50;
}

.top-line__section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.top-line__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  padding-top: 20px;
  padding-bottom: 30px;
  -ms-flex: 1 1 950px;
      flex: 1 1 950px;
}

.top-line__contacts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 0;
  -ms-flex: 0 0 480px;
      flex: 0 0 480px;
  width: 480px;
  max-width: 480px;
}

.top-line__contacts .search {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
}

.top-line__contacts .search__body {
  width: 305px;
}

.top-line__contacts .search__body input[type="text"] {
  width: 100%;
}

.top-line__phone {
  font-size: 16px;
  color: #3f4653;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0.055em;
  text-transform: uppercase;
}

.top-line__phone:hover {
  color: #3f4653;
  text-decoration: none;
}

.top-line__btn-items {
  margin-left: 40px;
  display: -ms-flexbox;
  display: flex;
}

.top-line__btn-item {
  -ms-flex: 0 0 100px;
      flex: 0 0 100px;
  width: 100px;
  max-width: 100px;
  padding: 35px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  border: none;
  border-left: 1px solid rgba(0,0,0,0.12);
  background-color: transparent;
}

.logo {
  margin-right: 20px;
}

.logo__img {
  width: 120px;
  display: block;
}

.ui-filter--docs .ui-filter__inner .search {
  width: 100%;
}

.ui-filter--docs .ui-filter__inner .search__body {
  width: 100%;
}

.ui-filter--docs .ui-filter__inner .search__body input[type=text] {
  width: 100%;
}

.ui-filter--docs .ui-filter__inner .btn-general.btn-show {
  margin-top: 15px;
}

.ui-filter--docs .ui-filter__form {
  border: none;
  padding: 0;
  display: block !important;
}

.ui-filter--docs .ui-filter__items-docs {
  margin-bottom: 30px;
}

.ui-filter--docs .ui-filter__item-doc {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer;
}

.ui-filter--docs .ui-filter__item-doc:hover .ui-filter__name {
  color: #0081de;
}

.ui-filter--docs .ui-filter__item-doc.is-active-doc .ui-filter__name {
  color: #0081de;
}

.ui-filter--docs .ui-filter__item-doc {
  padding: 15px 0;
  border-bottom: 1px solid #d6d6d6;
}

.ui-filter--docs .ui-filter__name {
  margin-bottom: 0;
  transition: color 0.3s;
}

.ui-filter--docs .ui-filter__icon {
  margin-right: 15px;
}

.ui-filter--docs .ui-filter__container-checkbox {
  margin-top: 20px;
}

.ui-filter--docs .ui-filter__label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.ui-filter--docs .btn-general.btn-extra.btn-reset {
  display: block !important;
  margin-top: 35px;
}

.ui-filter__section {
  color: #3f4653;
}

.ui-filter__title {
  font-size: 12px;
  font-weight: 900;
  line-height: 16px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
  display: none;
  padding: 20px;
  border: 2px solid rgba(63,70,83,0.1);
  box-sizing: border-box;
  border-radius: 3px;
}

.ui-filter__selection {
  margin-bottom: 20px;
}

.ui-filter__name {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}

.ui-filter__range-controlls {
  margin-bottom: 35px;
}

.ui-filter__inputs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.ui-filter__inputs input {
  font-size: 16px;
  color: #3f4653;
  line-height: 27px;
  text-align: center;
  width: 85px;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
}

.ui-filter__inputs span {
  width: 60px;
  display: block;
  border: 1px solid #bfcbe1;
  margin-right: 20px;
  margin-left: 20px;
}

.ui-filter .btn-general {
  margin-bottom: 15px;
  display: none;
}

.ui-filter .btn-general.btn-extra {
  color: #3f4653;
  min-width: auto;
  width: 100%;
  border: 2px solid #dedede;
  transition: border-color 0.3s;
}

.ui-filter .btn-general.btn-extra:hover {
  color: #f00;
  border-color: #f00;
  background-color: transparent;
}

.ui-filter__container-checkbox {
  height: 200px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.ui-filter__container-checkbox.show-more {
  height: 230px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.ui-filter__label {
  margin-bottom: 15px;
  cursor: pointer;
}

.ui-filter__label .jq-checkbox {
  -ms-flex: 0 0 25px;
      flex: 0 0 25px;
  width: 25px;
  max-width: 25px;
  height: 25px;
  padding-top: 6px;
  padding-left: 5px;
}

.ui-filter__label span {
  font-size: 16px;
  color: #8c8c8c;
  line-height: 19px;
  letter-spacing: 0.05em;
}

.ui-filter__btn-show-more {
  font-size: 16px;
  color: #0081de;
  line-height: 19px;
  letter-spacing: 0.05em;
  border-bottom: 1px dashed #0081de;
}

.ui-filter__btn-show-more:hover {
  color: #0081de;
  text-decoration: none;
  border-color: transparent;
}

/* video-projects */

.video-projects {
  margin-top: 35px;
  margin-bottom: 45px;
}

.video-projects__items {
  display: -ms-flexbox;
  display: flex;
  margin-left: -40px;
}

.video-projects__item {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  width: 50%;
  max-width: 50%;
  height: 400px;
  padding-left: 40px;
  display: block;
}

.video-projects__body {
  border-radius: 3px;
  overflow: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.video-projects__preview {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.video-projects__preview:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,0) 38.25%, rgba(0,0,0,0.72) 100%);
}

.video-projects__preview:hover .video-projects__pic {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.video-projects__preview .hidden-title-video,
.video-projects__preview .hidden-text-video {
  display: none;
}

.video-projects__pic {
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.video-projects__text {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  padding-bottom: 25px;
  padding-left: 30px;
  width: 460px;
  max-width: 100%;
}

.video-projects__btn-play {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 30px;
  border-color: transparent transparent transparent #fff;
  background-color: transparent;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-10%, -70%);
          transform: translate(-10%, -70%);
  z-index: 2;
}

/* video-projects END*/

.card-product-slider {
  margin-bottom: 40px;
}

.card-product-slider__top-slider {
  height: 445px;
  background: #f1f1f1;
  border-radius: 2px;
  margin-bottom: 20px;
}

.card-product-slider__top-slider .owl-prev,
.card-product-slider__top-slider .owl-next {
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,0.3);
  border-radius: 3px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  top: 50%;
}

.card-product-slider__top-slider .owl-prev {
  left: 25px;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.card-product-slider__top-slider .owl-next {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 25px;
}

.card-product-slider__bottom-slider-item {
  background-color: #fdfdfd;
  transition: background-color 0.3s;
  height: 100px;
}

.card-product-slider__bottom-slider-item.is-active {
  background-color: #fff;
}

.card-product {
  margin-bottom: 90px;
}

.card-product__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.card-product__item {
  -ms-flex: 0 0 48%;
      flex: 0 0 48%;
}

.card-product__info {
  padding: 15px 15px 20px 10px;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  margin-bottom: 15px;
}

.card-product__date-to-out {
  font-size: 11px;
  color: rgba(255,15,0,0.62);
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  padding: 19px 20px 18px 50px;
  background-color: rgba(255,7,7,0.13);
  border-radius: 3px;
  margin-bottom: 15px;
  position: relative;
}

.card-product__date-to-out:before {
  content: '';
  position: absolute;
  top: 20px;
  left: 25px;
  width: 20px;
  height: 20px;
  background: url("../img/archive-icon.svg") 0 0 no-repeat;
}

.card-product__alt-products {
  padding-left: 25px;
}

.card-product__alt-products-title {
  font-size: 12px;
  font-weight: 700;
  color: #3f4653;
  line-height: 16px;
  letter-spacing: 0.185em;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.card-product__alt-products-name {
  font-size: 16px;
  color: #3f4653;
  font-weight: normal;
  line-height: 27px;
  letter-spacing: 0.05em;
  border-bottom: 1px dashed #747880;
}

.card-product__alt-products-name:hover {
  color: #3f4653;
  border-color: transparent;
  text-decoration: none;
}

.card-product__docs {
  padding: 25px 35px 35px 35px;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
}

.card-product__docs-item {
  padding-left: 50px;
  margin-bottom: 25px;
  position: relative;
}

.card-product__docs-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: url("../img/pdf2-icon.svg") 0 0 no-repeat;
}

.card-product__docs-item:last-child {
  margin-bottom: 0;
}

.card-product__docs-title {
  font-size: 12px;
  color: #3f4653;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.185em;
  text-transform: uppercase;
}

.card-product__docs-name {
  font-size: 14px;
  color: #747880;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: 0.05em;
  border-bottom: 1px dashed #747880;
}

.card-product__docs-name:hover {
  color: #747880;
  border-color: transparent;
  text-decoration: none;
}

.card-product__head {
  margin-bottom: 10px;
  position: relative;
}

.card-product__head h1 {
  line-height: 60px;
  margin-top: 0;
  margin-bottom: 0;
}

.card-product__articul {
  font-size: 15px;
  color: #9c9c9c;
  font-weight: normal;
  line-height: 28px;
}

.card-product__btn-print {
  font-size: 18px;
  color: #b5b5b5;
  font-weight: normal;
  line-height: 30px;
  background-color: transparent;
  border: none;
  padding-left: 30px;
  position: absolute;
  top: -55px;
  right: 0;
}

.card-product__btn-print:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 25px;
  height: 25px;
  background: url("../img/printer-icon.svg") 0 0 no-repeat;
}

.card-product__btns {
  margin-bottom: 20px;
}

.card-product__btn-oreder {
  margin-right: 20px;
}

.card-product__btn-oreder.btn-general {
  min-width: 250px;
}

.card-product__btn-calculate.btn-general {
  width: 310px;
  padding-top: 18px;
  margin-bottom: 19px;
}

.card-product__options {
  margin-bottom: 40px;
}

.card-product__option {
  font-size: 18px;
  color: #38404e;
  line-height: 34px;
  letter-spacing: 0.025em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.card-product__icon {
  margin-right: 10px;
}

.card-product__parameters table.table-products tr td:nth-child(1) {
  width: 70%;
}

.card-product__parameters table.table-products tr td:nth-child(2) {
  color: #747880;
}

.card-product__parameters-title {
  font-size: 36px;
  color: #2c323e;
  font-weight: 700;
  line-height: 41px;
  margin-bottom: 20px;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (min-width: 960px) {
  .guarantee__right .guarantee__item:last-child .guarantee__name {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media (min-width: 1024px) {
  .footer-menu__title:after {
    display: none;
  }
}

@media (min-width: 1025px) {
  .mobile-panel {
    display: none;
  }
}

@media (max-width: 1439px) {
  .main-menu__nav ul li {
    margin-right: 40px;
  }

  .select-sity {
    margin-right: 0;
  }

  .top-line__contacts {
    margin-left: 35px;
  }
}

@media (max-width: 1279px) {
  .app-footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .app-footer__menu {
    -ms-flex: 0 0 540px;
        flex: 0 0 540px;
    width: 540px;
    max-width: 540px;
    margin-right: 0;
  }

  .app-footer__contacts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding-bottom: 50px;
  }

  .catalog-products__section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .contacts-info__items {
    display: block;
  }

  .contacts-info__item {
    width: 100%;
    margin-bottom: 20px;
  }

  .description-products__content {
    -ms-flex: 0 0 450px;
        flex: 0 0 450px;
    width: 450px;
    max-width: 450px;
  }

  .download-full-catalog__items {
    display: block;
  }

  .download-full-catalog__item:nth-child(2) {
    margin-left: 0;
  }

  .download-full-catalog__item:nth-child(2) {
    margin-bottom: 0;
  }

  .download-full-catalog__item {
    width: 100%;
    max-width: 100%;
    margin-bottom: 120px;
  }

  .first-step__inner {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .first-step__title {
    -ms-flex: none;
        flex: none;
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .first-step__desc {
    -ms-flex: none;
        flex: none;
    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;
  }

  .first-step__info {
    -ms-flex: none;
        flex: none;
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }

  .general-docs__item {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
  }

  .popup-video {
    height: auto;
  }

  .popup-video__section {
    display: block;
    padding-top: 20px;
  }

  .popup-video__info {
    width: 100%;
    max-width: 100%;
  }

  .popup-video__video {
    width: 100%;
    max-width: 100%;
  }

  .products-modification__table {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .products-modification__table table.table-products {
    width: 1280px;
  }

  .products-modification__archive-content {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .products-modification__archive-content table.table-products {
    width: 1280px;
  }

  .questions__inner {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .questions__title {
    -ms-flex: none;
        flex: none;
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .questions__desc {
    -ms-flex: none;
        flex: none;
    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;
  }

  .questions__info {
    -ms-flex: none;
        flex: none;
    width: 100%;
    max-width: 100%;
  }

  .card-product__btn-calculate.btn-general {
    width: auto;
  }
}

@media (max-width: 1183px) {
  .card-product__btn-oreder.btn-general {
    min-width: 280px;
    margin-bottom: 15px;
  }
}

@media (max-width: 1024px) {
  .catalog-products__icon {
    margin-bottom: 15px;
  }

  .contacts-info__map iframe {
    height: 450px !important;
  }

  .description-products__content {
    -ms-flex: 0 0 350px;
        flex: 0 0 350px;
    width: 350px;
    max-width: 350px;
  }

  .energy-service-contracts {
    margin-bottom: 40px;
  }

  .energy-service-contracts__head {
    margin-bottom: 25px;
  }

  .guarantee__item {
    padding: 30px;
  }

  .select-sity__list-sity {
    box-shadow: none;
    position: static;
    width: 100%;
    padding: 0 0 0 25px;
    background-color: transparent;
  }

  .stages-cooperation__items {
    margin-left: -50px;
  }

  .stages-cooperation__item {
    padding-left: 50px;
  }

  .top-line {
    display: none;
  }

  .ui-filter .btn-general {
    display: block;
    min-width: 264px;
  }

  .card-product__btn-print {
    display: none;
  }
}

@media (max-width: 1023px) {
  .app-footer__menu {
    -ms-flex: none;
        flex: none;
    width: 100%;
    max-width: 100%;
    padding-top: 25px;
  }

  .app-header__inner {
    margin-top: 71px;
  }

  h2.title-h2 {
    font-size: 30px;
    line-height: 31px;
    margin-bottom: 20px;
  }

  .footer-menu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .footer-menu__title {
    font-size: 20px;
    margin-bottom: 0;
  }

  .footer-menu__nav {
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    padding-bottom: 20px;
  }

  .footer-menu__nav ul {
    display: none;
    margin-top: 20px;
  }

  .product-series__img {
    height: 400px;
    margin-bottom: 25px;
  }

  .product-series__inner {
    display: block;
  }

  .subscribe-newsletter {
    margin-right: 0;
    border-right: none;
    border-bottom: 1px solid rgba(0,0,0,0.12);
  }
}

@media (max-width: 959px) {
  h1 {
    font-size: 30px;
    line-height: 31px;
  }

  .app__content {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .app__aside {
    -ms-flex: none;
        flex: none;
    margin: 0 auto;
    width: 480px;
    max-width: 100%;
  }

  .description-products__section {
    display: block;
  }

  .description-products__content {
    width: 100%;
    max-width: 100%;
  }

  .documents-products--more {
    margin-bottom: 50px;
  }

  .documents-products--more .documents-products__title {
    font-size: 16px;
  }

  .energy-service-contracts__title {
    font-size: 50px;
    line-height: 50px;
    left: 20px;
    margin-bottom: 20px;
  }

  .energy-service-contracts__content {
    display: block;
  }

  .energy-service-contracts__text {
    width: 100%;
    margin-bottom: 15px;
  }

  .energy-service-contracts__info {
    margin-left: 0;
    width: 100%;
    padding: 15px 20px;
  }

  .general-docs {
    margin-bottom: 10px;
  }

  .general-docs__section {
    padding: 25px 20px 20px;
  }

  .general-docs__item {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .guarantee__items {
    display: block;
  }

  .guarantee__left {
    width: 100%;
    margin-right: 0;
  }

  .guarantee__left {
    margin-bottom: 10px;
  }

  .guarantee__left .guarantee__item {
    margin-bottom: 10px;
  }

  .guarantee__right {
    width: 100%;
  }

  .product-series__img {
    height: 300px;
  }

  .product-series__head h1 {
    line-height: 31px;
  }

  .products-modification__tabs-switcher {
    margin-right: 55px;
  }

  .stages-cooperation__items {
    margin-left: -25px;
  }

  .stages-cooperation__item {
    padding-left: 25px;
  }

  .ui-filter--docs .ui-filter__inner {
    padding: 25px 30px;
    border-right: 2px solid rgba(63,70,83,0.1);
    border-bottom: 2px solid rgba(63,70,83,0.1);
    border-left: 2px solid rgba(63,70,83,0.1);
    border-radius: 0 0 3px 3px;
    display: none;
  }

  .ui-filter__title {
    display: block;
    cursor: pointer;
  }

  .ui-filter__form {
    padding: 25px 30px;
    border-right: 2px solid rgba(63,70,83,0.1);
    border-bottom: 2px solid rgba(63,70,83,0.1);
    border-left: 2px solid rgba(63,70,83,0.1);
    border-radius: 0 0 3px 3px;
    display: none;
  }

  .ui-filter .btn-general {
    min-width: 100%;
  }

  .video-projects__text {
    font-size: 16px;
    line-height: 20px;
    padding-left: 15px;
    padding-bottom: 15px;
    width: 100%;
  }

  .card-product-slider {
    margin-bottom: 0;
  }

  .card-product-slider__top-slider {
    height: auto;
  }

  .card-product-slider__bottom-slider-item {
    display: none;
  }

  .card-product__items {
    display: block;
  }

  .card-product__docs {
    margin-bottom: 20px;
  }

  .card-product__head h1 {
    line-height: 31px;
  }

  .card-product__options {
    display: none;
  }
}

@media (max-width: 767px) {
  table.table-products th {
    padding-left: 15px;
  }

  table.table-products tbody tr td {
    padding: 15px;
  }

  table.table-products tbody .products-modification-to-archive:before {
    display: none;
  }

  .additional-products {
    display: none;
  }

  .completed-projects {
    margin-bottom: 25px;
  }

  .completed-projects__item {
    padding: 25px;
  }

  .completed-projects__pic {
    margin-right: 10px;
  }

  .completed-projects__name {
    font-size: 17px;
    line-height: 20px;
  }

  .contacts-info {
    margin-bottom: 20px;
  }

  .first-step {
    margin-bottom: 40px;
  }

  .first-step__inner {
    padding: 25px;
  }

  .first-step__title {
    font-size: 28px;
    line-height: 31px;
    margin-bottom: 20px;
  }

  .first-step__desc {
    font-size: 19px;
    line-height: 32px;
  }

  .first-step__go-to-email {
    margin-bottom: 30px;
  }

  .guarantee {
    margin-bottom: 20px;
  }

  .guarantee__icon {
    -ms-flex: 0 0 80px;
        flex: 0 0 80px;
    width: 80px;
    max-width: 80px;
  }

  .guarantee__name {
    font-size: 20px;
    line-height: 25px;
  }

  .product-series__img {
    width: 100%;
    max-width: 100%;
  }

  .product-series__head h1 {
    margin-bottom: 20px;
  }

  .product-series__desc {
    display: none;
  }

  .product-series__options {
    margin-bottom: 20px;
  }

  .products-modification__tabs-switches {
    display: none;
  }

  .products-modification__tabs-content {
    display: block !important;
    margin-bottom: 40px;
  }

  .products-modification__title {
    display: inline-block;
  }

  .questions__inner {
    padding: 25px;
  }

  .questions__title {
    font-size: 36px;
    line-height: 40px;
  }

  .questions__desc {
    font-size: 19px;
    line-height: 32px;
  }

  .questions__btn-call {
    min-width: 100%;
  }

  .stages-cooperation {
    margin-bottom: 20px;
  }

  .stages-cooperation__inner {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .stages-cooperation__title {
    margin-bottom: 35px;
  }

  .stages-cooperation__items {
    display: block;
  }

  .stages-cooperation__item:last-child {
    margin-bottom: 0;
  }

  .stages-cooperation__item {
    width: 375px;
    max-width: 100%;
    margin-bottom: 40px;
  }

  .stages-cooperation__body {
    -ms-flex-direction: row;
        flex-direction: row;
  }

  .stages-cooperation__top {
    -ms-flex: 0 0 85px;
        flex: 0 0 85px;
    -ms-flex-pack: center;
        justify-content: center;
    margin-right: 35px;
  }

  .video-projects__items {
    display: block;
  }

  .video-projects__item {
    width: 590px;
    max-width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .inner-head {
    display: block;
    margin-bottom: 20px;
  }

  .catalog-products__item {
    width: 105px;
    max-width: 105px;
  }

  .contacts-info__title {
    font-size: 20px;
    line-height: 25px;
  }

  .contacts-info__body {
    padding-right: 30px;
    padding-left: 30px;
  }

  .select-sity-type2__selected {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 639px) {
  .app-footer__subscribe {
    margin-right: -15px;
    margin-left: -15px;
  }

  .app-footer__contacts {
    padding-top: 15px;
  }

  .completed-projects__title {
    font-size: 20px;
    line-height: 19px;
    margin-bottom: 15px;
  }

  .completed-projects__pic {
    display: none;
  }

  .download-full-catalog__img {
    -webkit-transform: translateX(-48%);
            transform: translateX(-48%);
  }

  .energy-service-contracts__title {
    font-size: 32px;
    line-height: 30px;
  }

  .footer-menu {
    display: block;
    width: auto;
    margin-right: -15px;
    margin-left: -15px;
  }

  .footer-menu__title:after {
    right: 5px;
  }

  .footer-menu__nav {
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .popup-video {
    padding: 15px;
  }

  .popup-video__video iframe {
    height: 250px !important;
  }

  .products {
    padding-top: 0;
  }

  .product-thumb {
    width: 100%;
  }

  .product-thumb__body {
    width: 100%;
  }

  .subscribe-newsletter {
    padding: 25px 15px 20px 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    width: 100%;
  }

  .subscribe-newsletter__title {
    font-size: 20px;
    line-height: 30px;
  }

  .ui-filter {
    margin-bottom: 30px;
  }

  .card-product__btn-oreder.btn-general {
    min-width: 100%;
  }

  .card-product__btn-calculate.btn-general {
    min-width: 100%;
  }
}

@media (max-width: 580px) {
  .popup-form-call__head {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .popup-form-call__btn-back {
    margin-bottom: 20px;
  }

  .popup-form-call__title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 0;
  }

  .popup-form-call__desc {
    font-size: 16px;
    margin-bottom: 0;
  }

  .popup-form-call__input {
    width: 100%;
  }

  .popup-form-call__btn-submit.btn-general {
    min-width: 100%;
  }

  .popup-form-call__privacy-policy {
    width: 100%;
  }

  .popup-form-call__reply-to {
    display: none;
  }

  .popup-video__btn-back {
    margin-bottom: 30px;
  }

  .popup-video__title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 30px;
  }

  .popup-video__text .hidden-text-video span {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 550px) {
  .completed-projects__item {
    display: block;
  }

  .completed-projects__name {
    margin-bottom: 10px;
  }

  .completed-projects__desc {
    margin-bottom: 10px;
  }

  .completed-projects__save {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .first-step__btn-download.btn-general {
    min-width: 100%;
  }

  .first-step__btn-call.btn-extra {
    min-width: 100%;
  }

  .product-series__btn-to-list-model {
    min-width: 100%;
  }
}

@media (max-width: 479px) {
  .app-footer__contacts {
    display: block;
    padding-bottom: 25px;
  }

  .app-footer__phone {
    text-align: left;
  }

  .app-footer__privacy-policy {
    margin-top: 20px;
  }

  .social-links {
    -ms-flex-pack: start;
        justify-content: flex-start;
  }

  .documents-products__downdload-archive {
    width: 60px;
    overflow: hidden;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
  }

  .documents-products__icon-eye {
    display: none;
  }

  .download-full-catalog {
    margin-top: 50px;
  }

  .download-full-catalog__item {
    padding-top: 150px;
    padding-right: 25px;
    padding-left: 25px;
    margin-bottom: 100px;
  }

  .download-full-catalog__img {
    width: 260px;
    top: -50px;
  }

  .download-full-catalog__file:before {
    display: none;
  }

  .download-full-catalog__file {
    padding-left: 0;
  }

  .energy-service-contracts__data-consumption {
    margin-bottom: 15px;
  }

  .energy-service-contracts__data-consumption-item strong {
    font-size: 17px;
    line-height: 21px;
  }

  .energy-service-contracts__data-consumption-item span {
    font-size: 14px;
    line-height: 19px;
  }

  .energy-service-contracts__data-consumption-item {
    width: 145px;
  }

  .products-modification__btn-archive span:before {
    display: none;
  }
}

@media (max-width: 440px) {
  .card-product-slider__top-slider .owl-prev {
    left: -10px;
  }

  .card-product-slider__top-slider .owl-next {
    right: -10px;
  }
}

@media (max-width: 439px) {
  .general-docs__icon {
    display: none;
  }

  .popup-form-call__title {
    font-size: 26px;
    line-height: 30px;
  }

  .video-projects__btn-play {
    border-width: 15px 0 15px 20px;
  }
}

@media (max-width: 400px) {
  .download-full-catalog__item:nth-child(2) .download-full-catalog__img {
    top: -75px;
  }
}

@media (max-width: 375px) {
  .energy-service-contracts__title {
    font-size: 28px;
    line-height: 26px;
  }

  .energy-service-contracts__img {
    height: 200px;
  }

  .energy-service-contracts__img img {
    width: auto;
    max-width: initial;
    height: 100%;
  }
}

@media (max-width: 374px) {
  .contacts-info__body {
    padding-right: 15px;
    padding-left: 15px;
    display: block;
  }

  .contacts-info__phone {
    display: block;
  }

  .contacts-info__img {
    margin: 0 auto;
  }

  .contacts-info__name {
    text-align: center;
    margin-top: 5px;
  }

  .contacts-info__name br {
    display: none;
  }

  .contacts-info__place {
    text-align: center;
  }

  .contacts-info__person-contacts {
    text-align: center;
  }

  .energy-service-contracts__data-consumption {
    display: block;
  }

  .energy-service-contracts__data-consumption-item {
    margin-bottom: 10px;
  }

  .energy-service-contracts__data-consumption-item {
    width: 100%;
  }

  .guarantee__left .guarantee__icon {
    margin-right: 30px;
  }

  .guarantee__item {
    padding: 20px;
  }

  .guarantee__icon {
    -ms-flex: 0 0 60px;
        flex: 0 0 60px;
    width: 60px;
    max-width: 60px;
  }

  .guarantee__name {
    font-size: 16px;
  }

  .mobile-menu__section {
    width: 270px;
  }

  .mobile-panel__btn-close {
    right: 5px;
  }

  .video-projects__text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media print {
  .app-footer {
    display: none;
  }

  .app-header {
    display: none;
  }

  .download-full-catalog {
    display: none;
  }

  .mobile-panel {
    display: none;
  }

  .questions {
    display: none;
  }

  .s-path {
    display: none;
  }

  .card-product-slider {
    display: none;
  }

  .card-product__btns {
    display: none;
  }
}