<div block="ui-filter">
    <div elem="section">
        <div elem="title" class="js-ui-filter-title">фильтры</div>
        <form elem="form" class="js-ui-filter-form">
            <div elem="selection">
                <div elem="name">Область применения</div>
                <select elem="select">
                    <option value="">Все</option>
                    <option value="">Промышленные предприятия</option>
                    <option value="">Автостоянки/паркинги</option>
                    <option value="">АЗС</option>
                    <option value="">Дороги</option>
                    <option value="">Животноводство</option>
                    <option value="">ЖКХ</option>
                    <option value="">Лестницы/коридоры</option>
                    <option value="">Логистические комплексы</option>
                    <option value="">Медицинские учреждения</option>
                </select>
            </div>
            <div elem="selection">
                <div elem="name">Тип установки</div>
                <select elem="select">
                    <option value="">Встраиваемый</option>
                    <option value="">консольный</option>
                    <option value="">настенный</option>
                    <option value="">подвесной</option>
                    <option value="">потолочный</option>
                    <option value="">универсальный</option>
                </select>
            </div>
            <div elem="range-controlls">
                <div elem="name">Световой поток, Лм</div>
                <div elem="inputs">
                    <input type="text" class="from">
                    <span></span>
                    <input type="text" class="to">
                </div>
                <div
                    elem="range"
                    data-type="double"
                    data-min="0"
                    data-max="65000"
                    data-from="1345"
                    data-to="42567"
                    data-step="1">
                </div>
            </div>
            <div elem="range-controlls">
                <div elem="name">Мощность, Вт</div>
                <div elem="inputs">
                    <input type="text" class="from">
                    <span></span>
                    <input type="text" class="to">
                </div>
                <div
                    elem="range"
                    data-type="double"
                    data-min="0"
                    data-max="500"
                    data-from="0"
                    data-to="250"
                    data-step="1">
                </div>
            </div>
            <div elem="selection">
                <div elem="name">КСС</div>
                <select elem="select">
                    <option value="">Концентрированная</option>
                    <option value="">глубокая</option>
                    <option value="">концентрированная</option>
                    <option value="">косинусная</option>
                    <option value="">равномерная</option>
                    <option value="">широкая боковая</option>
                    <option value="">широкая осевая</option>
                </select>
            </div>
            <input class="btn-general" type="submit" value="ПОКАЗАТЬ 45 СЕРИЙ">
            <input class="btn-general btn-extra" type="reset" value="x  сбросить фильтры">
        </form>
    </div>
</div><!-- ui-filter -->