<div block="ui-filter" mods="docs">
    <div elem="section">
        <div elem="title" class="js-ui-filter-title">Быстрый подбор документов</div>
        <div elem="inner" class="js-ui-filter-form">
            {% include "search.html" %}
            <form elem="form">
                <div elem="items-docs">
                    <div elem="item-doc" class="js-item-doc" data-filterDoc="certificates">
                        <span elem="icon"><img src="img/pdf2-icon.svg" alt=""></span>
                        <span elem="name">Сертификаты</span>
                    </div>
                    <div elem="item-doc" class="js-item-doc" data-filterDoc="passports">
                        <span elem="icon"><img src="img/pdf2-icon.svg" alt=""></span>
                        <span elem="name">Паспорта</span>
                    </div>
                    <div elem="item-doc" class="js-item-doc" data-filterDoc="ies">
                        <span elem="icon"><img src="img/pdf2-icon.svg" alt=""></span>
                        <span elem="name">IES</span>
                    </div>
                </div>
                <div elem="items-checkbox">
                    <div elem="name">Серия светильника</div>
                    <div elem="container-checkbox" class="js-show-more">
                        <label elem="label">
                            <input type="checkbox" checked>
                            <span>
                                Все серии
                            </span>
                        </label>
                        <label elem="label">
                            <input type="checkbox">
                            <span>
                                Серия Antares
                            </span>
                        </label>
                        <label elem="label">
                            <input type="checkbox">
                            <span>
                                Серия PowerX Ex
                            </span>
                        </label>
                        <label elem="label">
                            <input type="checkbox">
                            <span>
                                Серия Sirius
                            </span>
                        </label>
                        <label elem="label">
                            <input type="checkbox">
                            <span>
                                Серия Budget
                            </span>
                        </label>
                        <label elem="label">
                            <input type="checkbox">
                            <span>
                                Серия Antares
                            </span>
                        </label>
                        <label elem="label">
                            <input type="checkbox">
                            <span>
                                Серия PowerX Ex
                            </span>
                        </label>
                        <label elem="label">
                            <input type="checkbox">
                            <span>
                                Серия Sirius
                            </span>
                        </label>
                    </div>
                    <a elem="btn-show-more" class="js-btn-show-more" href="#">Показать все серии</a>
                </div>
                <input class="btn-general btn-show" type="submit" value="ПОКАЗАТЬ">
                <input class="btn-general btn-extra btn-reset" type="reset" value="x  сбросить фильтры">
            </form>
        </div>
    </div>
</div><!-- ui-filter -->