.ui-filter
    
    @media (max-width 639px)
        margin-bottom 30px

    &--docs

        & ^[0]    

            &__inner
                @media (max-width 959px)
                    padding 25px 30px
                    border-right 2px solid rgba(63, 70, 83, 0.1)
                    border-bottom 2px solid rgba(63, 70, 83, 0.1)
                    border-left 2px solid rgba(63, 70, 83, 0.1)
                    border-radius 0 0 3px 3px
                    display none

                .search
                    width 100%    
                
                .search__body
                    width 100%

                    input[type=text]
                        width 100%    
                
                .btn-general
                    
                    &.btn-show
                        margin-top 15px        
            
            &__form
                border none 
                padding 0
                display block !important


            &__items-docs
                margin-bottom 30px

            &__item-doc
                display flex
                align-items center
                cursor pointer
                &:hover
                    
                    & ^[0]

                        &__name
                            color #0081de

                &.is-active-doc
                    & ^[0]

                        &__name
                            color #0081de      

            &__item-doc
                padding 15px 0
                border-bottom 1px solid #D6D6D6

            &__name
                margin-bottom 0
                transition color .3s

            &__icon
                margin-right 15px        

            &__container-checkbox
                margin-top 20px    

            &__label
                display flex
                align-items center    

        .btn-general 

            &.btn-extra
                &.btn-reset
                    display block !important    
                    margin-top 35px

    &__section
        color #3F4653
        
    &__title
        font-size 12px
        font-weight 900
        line-height 16px
        letter-spacing 0.16em
        text-transform uppercase
        text-align center
        display none
        padding 20px
        border 2px solid rgba(63, 70, 83, 0.1)
        box-sizing border-box
        border-radius 3px

        @media (max-width 959px)
            display block
            cursor pointer

    &__form
        @media (max-width 959px)
            padding 25px 30px
            border-right 2px solid rgba(63, 70, 83, 0.1)
            border-bottom 2px solid rgba(63, 70, 83, 0.1)
            border-left 2px solid rgba(63, 70, 83, 0.1)
            border-radius 0 0 3px 3px
            display none

    &__selection
        margin-bottom 20px    

    &__name
        font-size 16px
        line-height 19px
        letter-spacing 0.05em
        margin-bottom 10px

    &__range-controlls
        margin-bottom 35px    

    &__inputs
        display flex
        align-items center

        input 
            font-size 16px
            color #3F4653
            line-height 27px
            text-align center
            width 85px
            height 40px
            padding-right 10px
            padding-left 10px

        span
            width 60px
            display block
            border 1px solid #BFCBE1    
            margin-right 20px
            margin-left 20px

    .btn-general 
        margin-bottom 15px
        display none
        
        @media (max-width 1024px)
            display block
            min-width 264px

        @media (max-width 959px)
            min-width 100%

        &.btn-extra        
            color #3F4653
            min-width auto
            width 100%
            border 2px solid #DEDEDE
            transition border-color .3s
            &:hover
                color #FF0000
                border-color #FF0000
                background-color transparent

    &__container-checkbox
        height 200px
        overflow hidden         

        &.show-more
            height 230px
            overflow-y auto
            overflow-x hidden   

    &__label
        margin-bottom 15px
        cursor pointer

        .jq-checkbox
            flex 0 0 25px
            width 25px
            max-width 25px
            height 25px
            padding-top 6px
            padding-left 5px

        span
            font-size 16px
            color #8C8C8C
            line-height 19px
            letter-spacing 0.05em

    &__btn-show-more
        font-size 16px
        color #0081DE        
        line-height 19px
        letter-spacing 0.05em
        border-bottom 1px dashed #0081DE    
        &:hover
            color #0081DE       
            text-decoration none
            border-color transparent