<div block="mobile-panel">
    <div elem="section">
        <button elem="btn-burger" class="js-btn-burger">{{ _icon('menu-icon', { tag: 'i' }) }}</button>
        <div elem="menu" class="js-menu-show">
            {% include "mobile-menu.html" %}
            <button elem="btn-close" class="js-btn-close" type="button"></button>
        </div>
        <div block="logo">
            <a elem="img" href="/"><img src="img/logo.png" alt=""></a>
        </div><!-- b:logo -->
        <button elem="btn-phone" data-remodal-target="call" type="button">{{ _icon('phone-icon', { tag: 'i', type: 'colored' }) }}</button>
    </div>
</div><!-- mobile-panel -->