.mobile-panel
    width 100%
    height 70px
    position fixed
    top 0
    left 0
    z-index 100
    background-color #FBFBFB

    @media (min-width 1025px)
        display none

    @media print
        display none    

    &__section
        display flex
        align-items center
        justify-content space-between    
        border-bottom 1px solid rgba(0, 0, 0, 0.12)

        .select-sity
            margin-bottom 10px

    &__btn-burger
        flex 0 0 70px
        width 70px    
        max-width 70px
        height 70px
        padding 0
        display flex
        align-items center
        justify-content center
        border none
        border-right 1px solid rgba(0, 0, 0, 0.12)
        background-color transparent    

    &__btn-close
        position absolute
        top 30px
        right 15px
        width 50px
        height 50px    
        background url('../img/close-x.svg') 50% 50% no-repeat
        border none
        background-color transparent

        @media (max-width 374px)
            right 5px

    &__menu
        position absolute   
        top 0
        left 0
        width 100%
        height 100vh
        background rgba(0,0,0,0.5)
        z-index 50
        opacity 0
        transition opacity .3s
        pointer-events none

        &.is-active-menu
            opacity 1
            pointer-events auto 
            
    &__btn-phone
        flex 0 0 70px
        width 70px    
        max-width 70px
        height 70px
        padding 0
        display flex
        align-items center
        justify-content center
        border none
        border-left 1px solid rgba(0, 0, 0, 0.12)
        background-color transparent

    .logo
        flex 0 0 135px
        width 135px
        max-width 135px
        margin 0

        &__img
            width 100%