<div block="contacts-info">
    <div elem="section">
        <div elem="inner">
            <div elem="title" data-aos="fade-up" data-aos-duration="800">Головной офис и производство:</div>
            <div elem="items" data-aos="fade-up" data-aos-duration="800">
                <div elem="item" mods="main">
                    <div elem="body">
                        <a elem="phone" href="tel:+74994550112">+7 (499) 455 01 12</a>
                        <div elem="address">400005, Россия, Волгоград, <br> пр-т Ленина, 92</div>
                        <a elem="mail" href="mailto:contact@econex.ru">contact@econex.ru</a>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="img"><img src="img/contact-person-img.png" alt=""></div>
                        <div elem="content">
                            <div elem="name">Вячеслав <br> Малюк</div>
                            <div elem="place">Директор</div>
                            <div elem="person-contacts">
                                <a elem="phone" href="tel:+74994550112">+7 (499) 455 01 12</a>
                                <a elem="mail" href="mailto:vm@econex.ru">vm@econex.ru</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="img"><img src="img/contact-person2-img.png" alt=""></div>
                        <div elem="content">
                            <div elem="name">Дмитрий <br> Завьялов</div>
                            <div elem="place">Технический директор</div>
                            <div elem="person-contacts">
                                <a elem="phone" href="tel:+74994550112">+7 (499) 455 01 12</a>
                                <a elem="mail" href="mailto:vm@econex.ru">vm@econex.ru</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div elem="title" data-aos="fade-up" data-aos-duration="800">Отдел продаж:</div>
            <div elem="items" data-aos="fade-up" data-aos-duration="800">
                <div elem="item">
                    <div elem="body">
                        <div elem="img"><img src="img/contact-person3-img.png" alt=""></div>
                        <div elem="content">
                            <div elem="name">Дмитрий <br> Каменский</div>
                            <div elem="place">Руководитель отдела продаж</div>
                            <div elem="person-contacts">
                                <a elem="phone" href="tel:+74994550112">+7 (499) 455 01 12</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="img"><img src="img/contact-person4-img.png" alt=""></div>
                        <div elem="content">
                            <div elem="name">Виталий <br> Шинкоренко</div>
                            <div elem="place">Региональный представитель</div>
                            <div elem="person-contacts">
                                <a elem="phone" href="tel:+74994550112">+7 (499) 455 01 12</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="img"><img src="img/contact-person5-img.png" alt=""></div>
                        <div elem="content">
                            <div elem="name">Борис <br> Попов</div>
                            <div elem="place">Региональный представитель</div>
                            <div elem="person-contacts">
                                <a elem="phone" href="tel:+74994550112">+7 (499) 455 01 12</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="map" data-aos="fade-up" data-aos-duration="800">
                <div style="position:relative;overflow:hidden;"><a href="https://yandex.uz/maps/38/volgograd/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Волгоград</a><a href="https://yandex.uz/maps/38/volgograd/house/prospekt_imeni_v_i_lenina_92/YE0YcwNpQEQBQFpifXt1dH1nYQ==/?ll=44.549984%2C48.744724&utm_medium=mapframe&utm_source=maps&z=17" style="color:#eee;font-size:12px;position:absolute;top:14px;">Проспект имени В.И. Ленина, 92 — Яндекс.Карты</a><iframe src="https://yandex.uz/map-widget/v1/-/CKeAyQO0" width="560" height="500" frameborder="0" allowfullscreen="true" style="position:relative;"></iframe></div>
            </div>
        </div>
    </div>
</div><!-- contacts-info -->