/*! contacts-info */

.contacts-info
    margin-bottom 100px

    @media (max-width 767px)
        margin-bottom 20px

    &__title
        font-size 25px
        color #2C323E
        font-weight 600
        line-height 31px
        letter-spacing 0.05em
        margin-bottom 20px

        @media (max-width 640px)
            font-size 20px
            line-height 25px

    &__items
        display flex
        margin-left -35px
        margin-bottom 50px

        @media (max-width 1279px)
            display block

    &__item
        width 33.333%
        padding-left 35px    

        @media (max-width 1279px)
            width 100%
            margin-bottom 20px

        &--main

            & ^[0]

                &__body
                    display block

                &__phone
                    font-size 30px
                    line-height 48px
                    font-weight 600

    &__body
        padding 20px 40px
        border 1px solid #DCDCDC
        border-radius 3px
        display flex
        align-items center

        @media (max-width 640px)
            padding-right 30px
            padding-left 30px

        @media (max-width 374px)
            padding-right 15px
            padding-left 15px
            display block

    &__phone
        font-size 17px
        color #3F4653
        line-height 27px
        font-weight normal
        &:hover
            color #3F4653
            text-decoration none

        @media (max-width 374px)
            display block
    
    &__address
        font-size 17px
        color #3F4653
        line-height 23px  
        margin-bottom 10px

    &__mail
        font-size 17px
        color #0081DE
        line-height 23px  
        margin-bottom 10px  
        border-bottom 1px dashed #0081DE
        &:hover
            color #0081DE
            text-decoration none
            border-color transparent   

    &__img
        flex 0 0 120px
        width 120px
        max-width 120px        
        margin-right 25px

        @media (max-width 374px)
            margin 0 auto

    &__name
        font-size 20px
        color #3F4653        
        font-weight 600
        line-height 21px
        letter-spacing 0.05em

        @media (max-width 374px)
            text-align center
            margin-top 5px

        br
            @media (max-width 374px)
                display none

    &__place
        font-size 14px
        color #757D8D    
        line-height 14px
        letter-spacing 0.05em
        margin-top 5px

        @media (max-width 374px)
            text-align center

    &__person-contacts
        margin-top 15px    

        @media (max-width 374px)
            text-align center

    &__map

        iframe 
            width 100% !important    

            @media (max-width 1024px)
                height 450px !important

/*! contacts-info END */
