<div block="documents-products">
    <div elem="section">
        <div elem="items">
            <div elem="item">
                <div elem="head">
                    <div elem="title">Сертификаты</div>
                    <a elem="downdload-archive" href="#" download>Скачать одним архивом</a>
                </div>
                <a elem="content" href="#">
                    <span elem="name">ТД Эконекс Сертификат соответствия ТС №0477873 продукции</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
            </div>
            <div elem="item">
                <div elem="head">
                    <div elem="title">паспорта на изделия</div>
                    <a elem="downdload-archive" href="#" download>Скачать одним архивом</a>
                </div>
                <a elem="content" href="#">
                    <span elem="name">ТД Эконекс Сертификат соответствия ТС №0477873 продукции</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
                <a elem="content" href="#">
                    <span elem="name">ТД Эконекс Сертификат соответствия ТС №0477873 продукции</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
            </div>
            <div elem="item">
                <div elem="head">
                    <div elem="title">IES</div>
                    <a elem="downdload-archive" href="#" download>Скачать одним архивом</a>
                </div>
                <a elem="content" href="#">
                    <span elem="name">ТД Эконекс Сертификат соответствия ТС №0477873 продукции</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
                <a elem="content" href="#">
                    <span elem="name">ТД Эконекс Сертификат соответствия ТС №0477873 продукции</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
                <a elem="content" href="#">
                    <span elem="name">ТД Эконекс Сертификат соответствия ТС №0477873 продукции</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
                <a elem="content" href="#">
                    <span elem="name">ТД Эконекс Сертификат соответствия ТС №0477873 продукции</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
                <a elem="content" href="#">
                    <span elem="name">ТД Эконекс Сертификат соответствия ТС №0477873 продукции</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
                <a elem="content" href="#">
                    <span elem="name">ТД Эконекс Сертификат соответствия ТС №0477873 продукции</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
            </div>
        </div>  
    </div>
</div><!-- documents-products -->