.documents-products

    /*! documents-products--more */
    &--more
        padding-top 35px
        margin-bottom 115px

        @media (max-width 959px)
            margin-bottom 50px

        & ^[0]

            &__head
                margin-bottom 20px

            &__title
                font-size 30px
                color #2C323E
                text-transform none
                letter-spacing 0.015em

                @media (max-width 959px)
                    font-size 16px

    /*! documents-products--more END */                

    &__head
        display flex
        align-items center
        justify-content space-between
        margin-bottom 25px

    &__item
        margin-bottom 30px    

    &__title
        font-size 14px
        color #3F4653    
        font-weight 700
        line-height 19px
        letter-spacing 0.185em
        text-transform uppercase

    &__downdload-archive
        font-size 16px
        color #0081DE    
        font-weight 500
        line-height 18px
        letter-spacing 0.01em
        border-bottom 1px dashed #0081DE
        &:hover
            color #0081DE  
            text-decoration none
            border-color transparent

        @media (max-width 479px)
            width 60px
            overflow hidden
            white-space pre    

    &__content
        font-size 16px
        color #3F4653
        line-height 18px
        letter-spacing 0.05em
        display flex
        align-items center
        justify-content space-between
        padding 15px 30px 15px 60px
        width 100%
        position relative
        &:before
            content ''
            position absolute
            top 10px
            left 20px
            width 30px
            height 30px
            background url('../img/pdf2-icon.svg') 0 0 no-repeat

        &:nth-child(even)
            background-color #F7F7F7
            border-bottom 1px solid #ECECEC    
        
        &:hover
            color #0081DE  
            text-decoration none

            & ^[0]

                &__name
                    border-bottom 1px dashed #0081DE
    
    &__name
        border-bottom 1px dashed transparent

    &__icon-eye

        @media (max-width 479px)
            display none    