<div block="documents-products" mods="more" data-aos="fade-up" data-aos-duration="800">
    <div elem="section">
        <div elem="items">
            <div elem="item" class="js-docs-content" data-docContent="certificates">
                <div elem="head">
                    <div elem="title">Сертификаты</div>
                    <a elem="downdload-archive" href="#" download>Скачать одним архивом</a>
                </div>
                <a elem="content" href="#">
                    <span elem="name">ТД Эконекс Сертификат соответствия ТС №0477873 продукции</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
                <a elem="content" href="#">
                    <span elem="name">Протокол испытаний ВНИСИ Highway 250 W3 4000K от 29.07.2018</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
                <a elem="content" href="#">
                    <span elem="name">ТД Эконекс Сертификат соответствия ТС №0447775 Econex PowerX Ex</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
                <a elem="content" href="#">
                    <span elem="name">Протокол климатических испытаний ВНИСИ Econex Hell 60 D60 100°С 5000K 48VDC</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
                <a elem="content" href="#">
                    <span elem="name">Протокол спектрофотометрических испытаний ВНИСИ Econex Hell 60 D60 100C 5000K 48VDC от 15.10.2019</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
                <a elem="content" href="#">
                    <span elem="name">Протокол испытаний ВНИСИ Highway 250 W3 4000K от 29.07.2018</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
                <a elem="content" href="#">
                    <span elem="name">ТД Эконекс Сертификат соответствия ТС №0447775 Econex PowerX Ex</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
                <a elem="content" href="#">
                    <span elem="name">Протокол климатических испытаний ВНИСИ Econex Hell 60 D60 100°С 5000K 48VDC</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
            </div>
            <div elem="item" class="js-docs-content" data-docContent="passports">
                <div elem="head">
                    <div elem="title">Паспорта</div>
                    <a elem="downdload-archive" href="#" download>Скачать одним архивом</a>
                </div>
                <a elem="content" href="#">
                    <span elem="name">ТД Эконекс Сертификат соответствия ТС №0477873 продукции</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
                <a elem="content" href="#">
                    <span elem="name">Протокол испытаний ВНИСИ Highway 250 W3 4000K от 29.07.2018</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
                <a elem="content" href="#">
                    <span elem="name">ТД Эконекс Сертификат соответствия ТС №0447775 Econex PowerX Ex</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
                <a elem="content" href="#">
                    <span elem="name">Протокол климатических испытаний ВНИСИ Econex Hell 60 D60 100°С 5000K 48VDC</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
            </div>
            <div elem="item" class="js-docs-content" data-docContent="ies">
                <div elem="head">
                    <div elem="title">IES</div>
                    <a elem="downdload-archive" href="#" download>Скачать одним архивом</a>
                </div>
                <a elem="content" href="#">
                    <span elem="name">ТД Эконекс Сертификат соответствия ТС №0477873 продукции</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
                <a elem="content" href="#">
                    <span elem="name">Протокол испытаний ВНИСИ Highway 250 W3 4000K от 29.07.2018</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
                <a elem="content" href="#">
                    <span elem="name">ТД Эконекс Сертификат соответствия ТС №0447775 Econex PowerX Ex</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
                <a elem="content" href="#">
                    <span elem="name">Протокол климатических испытаний ВНИСИ Econex Hell 60 D60 100°С 5000K 48VDC</span>
                    <span elem="icon-eye"><img src="img/eye-icon.svg" alt=""></span>
                </a>
            </div>
        </div>  
    </div>
</div><!-- documents-products -->