.footer-menu
    display flex
    // flex-basis 55%
    // padding 0 30px
    // margin-bottom 50px

    @media (max-width 1023px)
        justify-content space-around

    @media (max-width 639px)
        display block
        width auto
        margin-right -15px
        margin-left -15px

    &__title
        font-size 14px
        color #111010
        font-weight 600
        line-height 31px
        letter-spacing 0.005em
        margin-bottom 20px
        position relative
        &:after
            content ''
            position absolute
            top 50%
            right 25px
            width 10px
            height 10px
            background url('../img/arr2-icon.svg') 0 0 no-repeat
            transition transform .3s

            @media (min-width 1024px)
                display none

            @media (max-width 639px)
                right 5px    

        &.is-active-title
            &:after    
                transform rotate(180deg)

        @media (max-width 1023px)
            font-size 20px
            margin-bottom 0

    &__nav
        margin-right 35px

        &:last-child
            margin-right 0

        @media (max-width 1023px)
            width 100%
            border-bottom 1px solid rgba(0, 0, 0, 0.12)    
            padding-bottom 20px

        @media (max-width 639px)
            margin-bottom 20px    
            padding-right 15px
            padding-left 15px

        ul
            list-style-type none
            padding-left 0
            margin-bottom 0

            @media (max-width 1023px)
                display none
                margin-top 20px

            li
                line-height 17px
                margin-bottom 15px

                a
                    font-size 14px
                    color #454545
                    font-weight 400
                    line-height 17px
                    letter-spacing 0.005em
                    margin-bottom 20px