<div block="footer-menu">
    <nav elem="nav">
        <div elem="title" class="js-title-mobile">Продукция</div>
        <ul>
            <li><a href="#">Коммерческое освещение</a></li>
            <li><a href="#">Наружное освещение</a></li>
            <li><a href="#">Промышленное освещение</a></li>
            <li><a href="#">Система управления</a></li>
            <li><a href="#">Энергосервис</a></li>
            <li><a href="#">Решения</a></li>
            <li><a href="#">Проекты</a></li>
        </ul>
    </nav>
    <nav elem="nav">
        <div elem="title" class="js-title-mobile">Компания</div>
        <ul>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Миссии и ценности</a></li>
            <li><a href="#">Качество</a></li>
            <li><a href="#">Карьера</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Публикации</a></li>
            <li><a href="#">Мероприятия</a></li>
            <li><a href="#">Видео о проукции</a></li>
        </ul>
    </nav>
    <nav elem="nav">
        <div elem="title" class="js-title-mobile">Клиентам</div>
        <ul>
            <li><a href="#">База IES-файлов</a></li>
            <li><a href="#">Техническая документация</a></li>
            <li><a href="#">Прайс-лист</a></li>
            <li><a href="#">Заказать печатный каталог</a></li>
            <li><a href="#">Заявка на свето-технический расчёт</a></li>
            <li><a href="#">Онлайн-расчёт освещённости</a></li>
            <li><a href="#">Дилерам</a></li>
        </ul>
    </nav>
</div><!-- footer-menu -->