.app-footer
    flex none

    @media print
        display none

    &__section
        border-top 1px solid rgba(0, 0, 0, 0.12)
        border-bottom 1px solid rgba(0, 0, 0, 0.12)

    &__inner
        display flex

        @media (max-width 1279px)
            flex-wrap wrap

    &__subscribe

        @media (max-width 639px)
            margin-right -15px
            margin-left -15px

    &__menu
        flex 0 0 585px
        width 585px
        max-width 585px
        margin-right 20px
        padding-top 50px    

        @media (max-width 1279px)
            flex 0 0 540px
            width 540px
            max-width 540px
            margin-right 0

        @media (max-width 1023px)
            flex none
            width 100%
            max-width 100%      
            padding-top 25px

    &__contacts
        padding-top 50px 

        @media (max-width 1279px)
            display flex
            justify-content space-between
            align-items center
            flex-wrap wrap
            width 100%
            padding-bottom 50px

        @media (max-width 639px)
            padding-top 15px    

        @media (max-width 479px)
            display block
            padding-bottom 25px

    &__phone
        text-align right
        margin-bottom 5px

        a
            font-size 21px
            color #3F4653
            line-height 24px
            &:hover
                text-decoration none

        span 
            font-size 13px
            color #888F9C
            line-height 18px
            display block

        @media (max-width 479px)
            text-align left    

    &__btn-call-back
        margin-top 20px

        &.btn-extra
            min-width 195px        
       

    &__privacy-policy
        margin-top 50px

        @media (max-width 479px)
            margin-top 20px

        a
            font-size 13px
            line-height 16px
            color #1f90e1
            border-bottom 1px dashed #0081DE 
            &:hover
                text-decoration none
                border none

    &__copy
        font-size 13px
        color #828589
        line-height 18px
        padding-top 20px
        padding-bottom 25px            
        

.social-links
    margin-top 20px
    display flex
    justify-content flex-end

    @media (max-width 479px)
        justify-content flex-start

    &__link
        margin-right 20px
        &:last-child
            margin-right 0

    &__icon
        width 45px