<footer block="app-footer">
    <div elem="section">
        <div elem="inner" class="contain">
            <div elem="subscribe">
                {% include "subscribe-newsletter.html" %}   
            </div>
            <div elem="menu">
                {% include "footer-menu.html" %}
            </div>
            <div elem="contacts">
                <div elem="phones">
                    <div elem="phone">
                        <a href="tel:+3580503881190">+358 (0) 50 3881190</a>
                        <span>Волгоград</span>
                    </div>
                    <div elem="phone">
                        <a href="tel:88005003497">8 (800) 500 34 97</a>
                        <span>Бесплатная горячая линия</span>
                    </div>
                </div>
                <button elem="btn-call-back" class="btn-general btn-extra" data-remodal-target="call" type="button">заказать звонок</button>
                <div block="social-links">
                    <a elem="link" href="https://www.facebook.com/">
                        <i elem="icon"><img src="img/facebook-icon.svg" alt=""></i>
                    </a>
                    <a elem="link" href="https://www.youtube.com/">
                        <i elem="icon"><img src="img/youtube-icon.svg" alt=""></i>
                    </a>
                </div>
                <div elem="privacy-policy" data-remodal-target="privacy-policy"><a href="#">Политикой конфиденциальности</a></div>
            </div>
        </div>
    </div>
    <div elem="copy" class="contain">
        Copyright &copy;2019. Econex, Производство осветительных приборов. При использовании информации и материалов сайта, ссылка на источник обязательна.
    </div>
</footer><!-- b:app-footer -->
