<div block="select-sity-type2">
    <div elem="selected" class="js-selected-sity-type2"><span>волгоград</span></div>
    <ul elem="list-sity" class="js-list-sity-type2">
        <li class="is-active-sity"><a href="#">Волгоград</a></li>
        <li><a href="#">Санкт-Петербург</a></li>
        <li><a href="#">Москва</a></li>
        <li><a href="#">Хельсинки</a></li>
        <li><a href="#">Пермь</a></li>
        <li><a href="#">Владивосток</a></li>
        <li><a href="#">Екатеринбург</a></li>
    </ul>
</div><!-- select-sity-type2 -->    