/*! select-sity-type2 */

.select-sity-type2
    position relative

    &__selected
        font-size 12px
        color #0081DE
        font-weight 900
        line-height 16px
        letter-spacing 0.16em
        text-align center
        text-transform uppercase
        border 2px solid #0081DE
        box-sizing border-box
        border-radius 3px
        padding 20px
        width 280px
        cursor pointer

        @media (max-width 640px)
            width 100%
            margin-bottom 30px

        span 
            position relative
            &:after
                content ''
                position absolute
                top 3px
                right -20px
                width 13px
                height 8px
                background url('../img/arr3-icon.svg') 0 0 no-repeat
                background-size contain

    &__list-sity
        list-style-type none
        border-right 2px solid #0081DE
        border-bottom 2px solid #0081DE
        border-left 2px solid #0081DE
        padding-top 15px
        padding-left 25px
        width 100%
        position absolute
        z-index 2
        top 100%
        background-color #fff
        display none

        li
            margin-bottom 10px

            &.is-active-sity
                a
                    color #0081DE
                    cursor default

            a
                font-size 16px
                color #3f4653
                text-decoration none
                transition color 0.3s
                display block
                &:hover
                    color #0081DE

/*! select-sity-type2 END */