<div block="stages-cooperation" data-aos="fade-up" data-aos-duration="800">
    <div elem="section" class="contain">
        <div elem="inner">
            <div elem="title">Этапы сотрудничества:</div>
            <div elem="items">
                <div elem="item">
                    <div elem="body">
                        <div elem="top">
                            <div elem="icon"><img src="img/stages-coop-icon.svg" alt=""></div>
                        </div>
                        <div elem="bottom">
                            <div elem="text">
                                Сбор информации об 
                                объекте, заполнение 
                                <a href="#">опросного листа</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="top">
                            <div elem="icon"><img src="img/stages-coop2-icon.svg" alt=""></div>
                        </div>
                        <div elem="bottom">
                            <div elem="text">
                                Аудит, разработка 
                                технико-экономического 
                                обоснования
                            </div>
                         </div>    
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="top">
                            <div elem="icon"><img src="img/stages-coop3-icon.svg" alt=""></div>
                        </div>
                        <div elem="bottom">
                            <div elem="text">
                                Подготовка документации, 
                                согласование и проведение 
                                конкурса
                            </div>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="top">
                            <div elem="icon"><img src="img/stages-coop4-icon.svg" alt=""></div>
                        </div>
                        <div elem="bottom">
                            <div elem="text">
                                Заключение контракта, 
                                реализация договора «под 
                                ключ»
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- stages-cooperation -->