/*! stages-cooperation */

.stages-cooperation
    background-color #F4F4F4
    margin-bottom 80px

    @media (max-width 767px)
        margin-bottom 20px

    &__inner
        padding-top 50px
        padding-bottom 60px        

        @media (max-width 767px)
            padding-top 30px
            padding-bottom 50px    

    &__title
        font-size 25px
        color #2C323E
        font-weight 500
        line-height 31px
        letter-spacing 0.05em
        margin-bottom 55px

        @media (max-width 767px)
            margin-bottom 35px

    &__items
        margin-left -135px
        display flex

        @media (max-width 1024px)
            margin-left -50px

        @media (max-width 959px)
            margin-left -25px    

        @media (max-width 767px)
            display block    

    &__item
        padding-left 135px
        width 25%    
        &:last-child
            @media (max-width 767px)
                margin-bottom 0

        @media (max-width 1024px)
            padding-left 50px

        @media (max-width 959px)
            padding-left 25px      

        @media (max-width 767px)
            width 375px
            max-width 100%    
            margin-bottom 40px

    &__body
        display flex
        flex-direction column    

        @media (max-width 767px)
            flex-direction row

    &__top
        display flex
        align-items center 
        height 70px
        margin-bottom 40px        

        @media (max-width 767px)
            flex 0 0 85px
            justify-content center
            margin-right 35px

    &__text
        font-size 16px
        color #38404E    
        line-height 24px
        letter-spacing 0.05em

        a  
            font-size 16px  
            color #0081de
            border-bottom 1px dashed #0081de
            &:hover
                color #0081de
                text-decoration none
                border-color transparent

/*! stages-cooperation END */