.description-products

    &__section
        display flex

        @media (max-width 959px)
            display block

    &__content
        flex 0 0 600px
        width 600px
        max-width 600px
        margin-right 45px

        @media (max-width 1279px)  
            flex 0 0 450px
            width 450px
            max-width 450px

        @media (max-width 1024px)
            flex 0 0 350px
            width 350px
            max-width 350px

        @media (max-width 959px)
            width 100%
            max-width 100%    

    &__info
        margin-bottom 20px    

    &__name
        font-size 16px
        color #3F4653
        font-weight 400
        line-height 22px
        letter-spacing 0.05em

    &__text
        font-size 15px
        color #747880    
        font-weight normal
        line-height 23px
        letter-spacing 0.05em

    &__parameters

        table.table-products
            tr
                
                td
                    &:nth-child(1)
                        width 70%

                    &:nth-child(2)
                        color #747880