<div block="description-products">
    <div elem="section">
        <div elem="content">
            <div elem="info">
                <div elem="name">Прошёл испытания:</div>
                <div elem="text">Лаборатория ВНИСИ им. С.И. Вавилова на электрические, фотометрические и оптические параметры</div>
            </div>
            <div elem="info">
                <div elem="name">Область применения:</div>
                <div elem="text">Освещение улиц и дорог более двух полос категории А, Б, В</div>
            </div>
            <div elem="info">
                <div elem="name">Конструкция:</div>
                <div elem="text">Корпус выполнен из алюминиевого профиля, изготовленного методом экструзии, и элементов из листового металла, окрашенных порошковой краской. Конструкция позволяет быструю замену блока питания</div>
            </div>
            <div elem="info">
                <div elem="name">Оптическая часть:</div>
                <div elem="text">Групповая вторичная оптика финской компании LEDIL изготовлена из оптического поликарбоната. Имеет высокую оптическую эффективность. Герметизирована силиконовым компаундом Dow Corning</div>
            </div>
            <div elem="info">
                <div elem="name">Установка:</div>
                <div elem="text">Устанавливается на трубу диаметром 40-52 мм и фиксируется с помощью болтов из нержавеющей стали. Дополнительные элементы позволяют реализовать различные типы установки</div>
            </div>
        </div>
        <div elem="parameters">
            <table class="table-products">
                <tbody>
                    <tr>
                        <td>Номинальное напряжение питающей сети, В</td>
                        <td>220</td>
                    </tr>
                    <tr>
                        <td>Допустимое напряжение питающей сети, В</td>
                        <td>176-264</td>
                    </tr>
                    <tr>
                        <td>Частота питающей сети, Гц</td>
                        <td>45-65</td>
                    </tr>
                    <tr>
                        <td>Коэффициент мощности, не менее</td>
                        <td>0,95</td>
                    </tr>
                    <tr>
                        <td>Тип источника света</td>
                        <td>СД</td>
                    </tr>
                    <tr>
                        <td>Коррелированная цветовая температура, К	</td>
                        <td>5000</td>
                    </tr>
                    <tr>
                        <td>Коэффициент пульсации светового потока, %</td>
                        <td>менее 1%</td>
                    </tr>
                    <tr>
                        <td>Температура окружающей среды при эксплуатации светильника, С</td>
                        <td>от -60 до +40</td>
                    </tr>
                    <tr>
                        <td>Степень защиты светильника по ГОСТ 14254</td>
                        <td>IP67</td>
                    </tr>
                    <tr>
                        <td>Климатическое исполнение светильника по ГОСТ 15150</td>
                        <td>УХЛ1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><!-- description-products -->