.popup-form-message
    max-width 500px
    padding 50px

    &__title
        font-size 25px
        line-height 30px
        color #3F4653
        margin-bottom 20px

    &__input
        width 100%    
        margin-bottom 20px

        input,
        textarea
            width 100%
            
        textarea    
            min-height 100px
    
    &__btn-submit

        &.btn-general
            min-width 100%        
    
    &__privacy-policy
        width 350px
        max-width 100%
        margin-top 20px        

    &__label
        font-size 13px
        line-height 21px
        color #3F4653
        display flex
        
        a
            color #1f90e1
            border-bottom 1px dashed #0081DE 
            &:hover
                text-decoration none
                border none    