<div block="popup-form-message" class="remodal" data-remodal-id="message">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div elem="section">
        <form elem="form">
            <div elem="title">Написать сообщение</div>
            <div elem="inputs">
                <div elem="input"><input type="text" placeholder="Иванов Иван" required></div>
            </div>
            <div elem="inputs">
                <div elem="input"><input type="mail" placeholder="ivanov@mail.ru" required></div>
            </div>
            <div elem="inputs">
                <div elem="input"><textarea placeholder="Ваше сообщение"></textarea></div>
            </div>
            <input elem="btn-submit" class="btn-general" type="submit" value="отправить письмо" >
            <div elem="privacy-policy">
                <label elem="label">
                    <input type="checkbox" checked>
                    <span>Нажимая на эту кнопку, вы даете согласие на 
                        обработку своих персональных данных и 
                        соглашаетесь с <a href="#" data-remodal-target="privacy-policy">Политикой конфиденциальности</a>
                    </span>
                </label>
            </div>
        </form>
    </div>
</div><!-- popup-form-message -->