<div block="mobile-menu" class="js-mobile-menu">
    <div elem="section">
        {% include "search.html" %}
        {% include "select-sity.html" %}
        <a elem="phone" href="tel:+78442727772">+7  8442  72 77 72</a>
        {% include "main-menu.html" %}
    </div>
</div><!-- mobile-menu -->