.mobile-menu
    z-index 51
    transform translateX(-300px)
    transition transform .3s

    &.is-active-mobile-menu
        transform translateX(0)

    &__section
        width 300px
        height 100vh
        padding 25px
        background-color #FBFBFB
        overflow-y auto

        @media (max-width 374px)
            width 270px

    &__phone
        font-size 20px
        color #3F4653        
        font-weight 900
        line-height 29px
        letter-spacing 0.055em
        text-transform uppercase
        margin-top 15px
        margin-bottom 15px
        display block
        &:hover
            color #3F4653 
            text-decoration none         
    
    .main-menu

        &__nav

            ul
                display block

                li
                    padding 10px 0
                    margin-right 0

                    a
                        font-size 18px