<div block="s-path" data-aos="fade-right" data-aos-duration="1000">
	{% for item in path %}
		<a elem="link" href="#">{{item.title}}</a><!-- <= link -->
		<span elem="separator"></span><!-- <= separator -->
	{% endfor %}
	{{pageTitle}}
</div><!-- s-path -->