.s-path
    font-size 18px
    line-height 30px
    color #C1C1C1
    display flex
    align-items center
    flex-wrap wrap
    margin-bottom 25px

    @media print
        display none

    &__separator
        width 7px
        height 9px
        margin-right 7px
        margin-left 7px
        background url('../img/arr-path.svg') 0 0 no-repeat
        display block

    a
        font-size 18px
        color #0575DC
        line-height 30px
        text-decoration underline
        &:hover
            color #0575DC
            text-decoration none