/*! guarantee */

.guarantee
    margin-bottom 80px

    @media (max-width 767px)
        margin-bottom 20px

    &__items
        display flex

        @media (max-width 959px)
            display block

    &__left
        width 49%
        margin-right 35px

        @media (max-width 959px)
            width 100%
            margin-right 0

        @media (max-width 959px)
            margin-bottom 10px    

        & ^[0]

            &__item
                background-color #F3F3F3
                border-radius 3px
                margin-bottom 30px
                &:last-child
                    margin-bottom 0

                @media (max-width 959px)
                    margin-bottom 10px

            &__icon
                @media (max-width 374px)
                    margin-right 30px        

    &__right
        display flex
        flex-direction column
        justify-content space-between
        width 49%    
        background #00C64F
        border-radius 3px

        @media (max-width 959px)
            width 100%
        
        & ^[0]

            &__name
                color #fff
            
            &__item
                &:last-child
                    & ^[0]

                        &__name

                            @media (min-width 960px)
                                align-self flex-end

            &__icon     
                margin-right 30px

    &__item
        padding 50px 90px 50px 60px
        display flex    
        align-items center

        @media (max-width 1024px)
            padding 30px

        @media (max-width 374px)
            padding 20px    
        
    &__icon
        flex 0 0 110px
        width 110px
        max-width 110px        

        @media (max-width 767px)
            flex 0 0 80px
            width 80px
            max-width 80px   

        @media (max-width 374px)
            flex 0 0 60px
            width 60px
            max-width 60px    

    &__name
        font-size 25px
        color #2C323E   
        font-weight 500
        line-height 31px
        letter-spacing 0.05em

        @media (max-width 767px)
            font-size 20px
            line-height 25px

        @media (max-width 374px)
            font-size 16px    

/*! guarantee END */