<div block="guarantee" data-aos="fade-up" data-aos-duration="800">
    <div elem="section">
        <div elem="inner">
            <div elem="items">
                <div elem="left">
                    <div elem="item">
                        <div elem="icon"><img src="img/guarantee-icon.svg" alt=""></div>
                        <div elem="name">Заводская гарантия на весь срок договора</div>
                    </div>
                    <div elem="item">
                        <div elem="icon"><img src="img/guarantee-icon.svg" alt=""></div>
                        <div elem="name">Гарантия заявленной экономии энергии</div>
                    </div>
                </div>
                <div elem="right">
                    <div elem="item">
                        <div elem="icon"><img src="img/guarantee3-icon.svg" alt=""></div>
                        <div elem="name">Без первоначальных платежей</div>
                    </div>
                    <div elem="item">
                        <div elem="icon"><img src="img/guarantee2-icon.svg" alt=""></div>
                        <div elem="name">Оплата за счёт полученной энергии</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- guarantee -->