<div block="popup-video" class="remodal" data-remodal-id="video">
    <div elem="section">
        <div elem="info">
            <button elem="btn-back" class="btn-general btn-extra js-btn-back">ВЕРНУТЬСЯ НА САЙТ</button>
            <div elem="title" class="js-inside-title"></div>
            <div elem="text" class="js-inside-text"></div>
        </div>
        <div elem="video">
            <iframe src="" width="100%" height="400" frameborder="0"></iframe>
        </div>
    </div>
</div><!-- popup-video -->