/*! popup-video */

.popup-video
    max-width 100%
    height 100%
    margin-bottom 0
    background-color #040D1F

    @media (max-width 1279px)
        height auto

    @media (max-width 639px)    
        padding 15px

    &__section
        width 1090px
        max-width 100%
        padding-top 50px
        margin 0 auto
        display flex

        @media (max-width 1279px)
            display block
            padding-top 20px

    &__info
        flex 0 0 340px
        width 340px
        max-width 340px    
        margin-right 75px

        @media (max-width 1279px)
            width 100%
            max-width 100%

    &__video
        flex 0 0 660px
        width 660px
        max-width 660px    

        @media (max-width 1279px)
            width 100%
            max-width 100%

        iframe
            @media (max-width 639px)    
                height 250px !important

    &__btn-back
        position relative
        margin-bottom 40px

        &.btn-extra
            color #fff
            font-weight normal
            border-color #fff
            min-width 250px
            padding-right 20px
            padding-left 50px
            &:hover
                background-color transparent
        &:before
            content ''
            position absolute
            top 22px
            left 30px
            width 12px
            height 12px
            background url('../img/slider-arr.svg') 0 0 no-repeat
            background-size contain
            transform rotate(180deg)

        @media (max-width 580px)
            margin-bottom 30px      

    &__title
        font-size 34px
        color #FFFFFF
        font-weight 600
        line-height 38px
        letter-spacing 0.04em
        margin-bottom 40px   

        @media (max-width 580px)
            font-size 28px
            line-height 32px
            margin-bottom 30px

    &__text
        font-size 18px
        color #FFFFFF
        line-height 22px
        margin-bottom 40px   

        .hidden-text-video
            span
                margin-right 10px
                margin-bottom 40px
                display block
                &:last-child
                    margin-bottom 0     

                @media (max-width 580px)
                    font-size 16px
                    line-height 20px
                    margin-bottom 20px     

/*! popup-video END */