.popup-privacy-policy

    &__title
        font-size 25px
        line-height 28px
        font-weight 400
        color #3F4653
        margin-bottom 25px

    &__content
        font-size 15px
        line-height 20px
        color #38404E    