<div block="main-menu">
    <div elem="nav">
        <ul>
            <li><a href="#">Продукция</a></li>
            <li><a href="#">Система управления</a></li>
            <li><a href="#">Проекты</a></li>
            <li><a href="#">Сервисы</a></li>
            <li><a href="#">Документация</a></li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Проектировщикам</a></li>
        </ul>
    </div>
</div><!-- main-menu -->