.main-menu

    &__nav
        
        ul
            list-style-type none
            display flex
            padding-left 0
            margin-bottom 0

            li
                margin-right 45px
                flex 0 0 auto
                &:last-child
                    margin-right 0

                @media (max-width 1439px)
                    margin-right 40px    

                a
                    line-height 22px
                    color #3F4653
                    display block
                    transition color .3s
                    &:hover
                        color #0081DE
                        text-decoration none

                &.dropdown-wrap
                    position relative
                    cursor pointer
                    &:before
                        content ''   
                        position absolute 
                        top 0
                        left -10px
                        width 22px
                        height 20px
                        background url('../img/menu-more.svg') 50% 50% no-repeat

                    ul
                        list-style-type none
                        border-radius 3px
                        padding 10px 20px
                        margin-top 10px
                        margin-bottom 0
                        margin-right -50px
                        box-shadow 0px 49px 72px rgba(0, 0, 0, 0.33)
                        background-color #fff
                        width 200px
                        position absolute
                        top 100%
                        right 0
                        display none
                        z-index 10

                        li
                            padding 5px 0
                            &:last-child
                                margin-bottom 0

                            &.is-active-sity 

                                a
                                    color #adadad    
                                    cursor default
                                    &:hover
                                        color #adadad    

                            a
                                font-size 16px
                                color #3F4653
                                text-decoration none
                                transition color .3s
                                display block
                                &:hover
                                    color #0081DE