<div block="popup-form-call" class="remodal" data-remodal-id="call">
    <div elem="section">
        <div elem="head">
            <button elem="btn-back" class="btn-general btn-extra js-btn-back">ВЕРНУТЬСЯ НА САЙТ</button>
            <div elem="phone">
                <a href="88005003497">8 (800) 500 34 97</a>
                <span>Бесплатная горячая линия</span>
            </div>
        </div>
        <form elem="form">
            <div elem="title">Заполните форму</div>
            <div elem="desc">и наш инженер свяжется с вами в ближайшее время</div>
            <div elem="inputs">
                <div elem="input"><input type="text" placeholder="Иванов Иван"></div>
                <div elem="input"><input class="js-phone-mask" placeholder="+7(___)_______" type="text"></div>
            </div>
            <input elem="btn-submit" class="btn-general" value="перезвоните мне" type="submit">
            <div elem="bottom">
                <div elem="privacy-policy">
                    <label elem="label">
                        <input type="checkbox" checked>
                        <span>Нажимая на эту кнопку, вы даете согласие на 
                            обработку своих персональных данных и 
                            соглашаетесь с <a href="#" data-remodal-target="privacy-policy">Политикой конфиденциальности</a>
                        </span>
                    </label>
                </div>
                <div elem="reply-to">
                    <div>
                        На вопросы ответит:
                        <br>
                        Владислав Водяга
                    </div>
                    <span>инженер проектных продаж</span>
                </div>
            </div>
        </form>
    </div>
</div><!-- popup-form-call -->