.popup-form-call
    max-width 100%
    height 100%
    margin-bottom 0
    background-color #062A4B

    &__section
        width 1095px
        max-width 100%
        margin 0 auto

    &__head
        display flex
        align-items center
        justify-content space-between    

        @media (max-width 580px)
            flex-direction column

    &__btn-back
        position relative
        &.btn-extra
            color #fff
            font-weight normal
            border-color #fff
            min-width 250px
            padding-right 20px
            padding-left 50px
            &:hover
                background-color transparent
        &:before
            content ''
            position absolute
            top 22px
            left 30px
            width 12px
            height 12px
            background url('../img/slider-arr.svg') 0 0 no-repeat
            background-size contain
            transform rotate(180deg)

        @media (max-width 580px)
            margin-bottom 20px    

    &__phone
        text-align right

        a
            font-size 23px
            color #FFFFFF    
            line-height 26px
            display block
            &:hover
                text-decoration none

        span
            font-size 14px
            color rgba(255, 255, 255, 0.4)
            line-height 18px
    
    &__form
        width 615px
        max-width 100%
        margin 0 auto        

    &__title
        font-size 50px
        color #FFFFFF        
        font-family "Proxima Nova"
        font-weight bold
        line-height 52px
        letter-spacing 0.015em
        text-align center
        margin-top 15px
        margin-bottom 25px

        @media (max-width 580px)
            font-size 30px
            line-height 34px
            margin-bottom 0

        @media (max-width 439px)
            font-size 26px
            line-height 30px

    &__desc    
        font-size 20px
        color #FFFFFF
        line-height 24px
        text-align center
        margin-bottom 20px

        @media (max-width 580px)
            font-size 16px
            margin-bottom 0

    &__inputs
        margin-top 50px    

    &__input
        width 320px
        max-width 100%
        margin-bottom 20px

        @media (max-width 580px)
            width 100%

        input 
            color #ffffff
            font-weight normal
            width 100%
            background-color transparent
            

    &__btn-submit
        margin-top 25px

        &.btn-general
            min-width 320px

            @media (max-width 580px)
                min-width 100%

    &__bottom
        color #ffffff
        display flex
        justify-content space-between
        margin-top 20px
    
    &__privacy-policy   
        width 305px
        max-width 100% 

        @media (max-width 580px)
            width 100%

    &__label
        font-size 13px
        line-height 21px
        color rgba(255, 255, 255, 0.35)
        display flex
        
        a
            color #1f90e1
            border-bottom 1px dashed #0081DE 
            &:hover
                text-decoration none
                border none

    &__reply-to
        font-size 20px
        font-weight normal
        line-height 24px
        text-align right

        @media (max-width 580px)
            display none 

        span 
            font-size 14px
            color rgba(255, 255, 255, 0.4)
            line-height 16px