.search
    margin-bottom 20px

    &__form

    &__body
        display flex
        align-items center    
        position relative

        input[type=submit]
            width 54px
            height 54px
            background #fff url('../img/search-icon.svg') 50% 50% no-repeat
            display block
            position absolute
            top 1px
            right 1px
            border none