<div block="search">
    <form elem="form">
        <div elem="body">
            <input type="text" {% if pageTitle != "Документация" %} placeholder="Поиск" {% endif %} {% if pageTitle == "Документация" %} placeholder="Что вы хотите найти?" {% endif %}>
            <input type="submit" value="">
        </div>
    </form>
</div><!-- search -->