= yaml =
pageTitle: Документация
bodyClasses:
layout: !!map
    header: true
    footer: true
    left: false
    right: false
path: [
    {"title":Главная страница},
]
= yaml =

{% extends 'app.html' %}

{% block beforeBlock %}

    {% include "s-path.html" %}

    <div class="inner-head">
    
        <h1>Контакты</h1>

        {% include "select-sity-type2.html" %}
    
    </div>

{% endblock %}

{% block main %}

    {% include "contacts-info.html" %}
    
{% endblock %}


{% block afterBlock %}

    {% include "download-full-catalog.html" %}

{% endblock %}
