= yaml =
pageTitle: Продукция
bodyClasses:
layout: !!map
    header: true
    footer: true
    left: true
    right: false
= yaml =

{% extends 'app.html' %}


{% block main %}

    {% include "products.html" %}
    {% include "products-type2.html" %}
    {% include "products-type3.html" %}

    <div class="stop-fixed-filter"></div>
    
{% endblock %}

{% block asideLeft %}

    {% include "ui-filter.html" %}

    <!-- <div class="empty-block" style="height: 650px;"></div> -->

{% endblock %}


{% block afterBlock %}

    {% include "questions.html" %}

    {% include "download-full-catalog.html" %}

{% endblock %}
