<div block="subscribe-newsletter">
    <div elem="section">
        <div elem="title">Подпишитесь на нашу рассылку мы пишем редко и по делу:</div>
        <form elem="form">
            <div elem="input">
                <input type="mail" placeholder="ivan.petrov@mail.ru" required>
            </div>
            <div elem="btn-subscribe"><input class="btn-general btn-extra" type="submit" value="подписаться на рассылку"></div>
            <div elem="privacy-policy">
                <label elem="label">
                    <input type="checkbox" checked>
                    <span>Нажимая на эту кнопку, вы даете согласие на 
                        обработку своих персональных данных и 
                        соглашаетесь с <a href="#" data-remodal-target="privacy-policy">Политикой конфиденциальности</a>
                    </span>
                </label>
            </div>
        </form>
    </div>
</div><!-- subscribe-newsletter -->