.subscribe-newsletter
    width 375px
    max-width 100%
    padding-top 50px 
    padding-right 50px
    padding-bottom 45px
    margin-right 55px
    border-right 1px solid rgba(0, 0, 0, 0.12)

    @media (max-width 1023px)
        margin-right 0
        border-right none
        border-bottom 1px solid rgba(0, 0, 0, 0.12)

    @media (max-width 639px)
        padding 25px 15px 20px 15px
        padding-right 15px    
        padding-left 15px
        padding-bottom 20px
        width 100%  

    &__title
        font-size 21px
        line-height 34px
        color #3c424f
        margin-bottom 25px

        @media (max-width 639px)
            font-size 20px
            line-height 30px

    &__input
        margin-bottom 20px

        input 
            width 100%

    &__btn-subscribe
        margin-bottom 20px

        &:hover
            input
                background-color #0575DC
                color #fff

        input
            width 100%
            min-width auto        

    &__label
        font-size 13px
        line-height 21px
        color #3F4653
        display flex
        
        a
            color #1f90e1
            border-bottom 1px dashed #0081DE 
            &:hover
                text-decoration none
                border none
        

        
                