<div block="catalog-products" data-aos="fade-down" data-aos-duration="800">
    <div elem="section" class="contain">
        <div elem="items">
            <a elem="item" href="#">
                <span elem="icon">
                    <span elem="icon-static"><img src="img/catalog-product-icon.svg" alt=""></span>
                    <span elem="icon-hover"><img src="img/catalog-product-icon-hover.svg" alt=""></span>
                </span>
                <span elem="name">Наружное освещение</span>
            </a>
            <a elem="item" href="#">
                <span elem="icon">
                    <span elem="icon-static"><img src="img/catalog-product-icon2.svg" alt=""></span>
                    <span elem="icon-hover"><img src="img/catalog-product-icon-hover2.svg" alt=""></span>
                </span>
                <span elem="name">Промышленное освещение</span>
            </a>
            <a elem="item" href="#">
                <span elem="icon">
                    <span elem="icon-static"><img src="img/catalog-product-icon3.svg" alt=""></span>
                    <span elem="icon-hover"><img src="img/catalog-product-icon-hover3.svg" alt=""></span>
                </span>
                <span elem="name">Коммерческое освещение</span>
            </a>
            <a elem="item" href="#">
                <span elem="icon">
                    <span elem="icon-static"><img src="img/catalog-product-icon4.svg" alt=""></span>
                    <span elem="icon-hover"><img src="img/catalog-product-icon-hover4.svg" alt=""></span>
                </span>
                <span elem="name">Аварийное освещение</span>
            </a>
            <a elem="item" href="#">
                <span elem="icon">
                    <span elem="icon-static"><img src="img/catalog-product-icon5.svg" alt=""></span>
                    <span elem="icon-hover"><img src="img/catalog-product-icon-hover5.svg" alt=""></span>
                </span>
                <span elem="name">Взрывозащищённые светильники</span>
            </a>
            <a elem="item" href="#">
                <span elem="icon">
                    <span elem="icon-static"><img src="img/catalog-product-icon6.svg" alt=""></span>
                    <span elem="icon-hover"><img src="img/catalog-product-icon-hover6.svg" alt=""></span>
                </span>
                <span elem="name">Датчики</span>
            </a>
            <a elem="item" href="#">
                <span elem="icon">
                    <span elem="icon-static"><img src="img/catalog-product-icon7.svg" alt=""></span>
                    <span elem="icon-hover"><img src="img/catalog-product-icon-hover7.svg" alt=""></span>
                </span>
                <span elem="name">Освещение с/х предприятий</span>
            </a>
            <a elem="item" href="#">
                <span elem="icon">
                    <span elem="icon-static"><img src="img/catalog-product-icon8.svg" alt=""></span>
                    <span elem="icon-hover"><img src="img/catalog-product-icon-hover8.svg" alt=""></span>
                </span>
                <span elem="name">Управление освещением</span>
            </a>
        </div>
    </div>
</div><!-- catalog-products -->