.catalog-products
    background-color #062A4B

    &__section
        padding-top 45px
        padding-bottom 55px

        @media (max-width 1279px)
            padding-top 20px
            padding-bottom 20px

    &__items
        display flex
        justify-content space-between   
        
        .owl-prev,
        .owl-next
            width 120px
            height 100%
            position absolute
            top 50%
            transform translateY(-50%)
            // background linear-gradient(270deg, #062A4B 0%, rgba(6, 42, 75, 0) 283.31%) 
            display flex
            align-items center
            justify-content flex-end

        .owl-prev
            left 0
            transform translateY(-50%) rotate(180deg)    

        .owl-next
            right 0

    &__item
        color #fff
        text-align center
        flex 0 0 150px
        width 150px
        max-width 150px
        display flex
        flex-direction column
        align-items center
        justify-content center 
        &:hover
            color #749bbf
            text-decoration none

            & ^[0]
                
                &__icon-static
                    display none

                &__icon-hover
                    display block

        @media (max-width 640px)
            width 105px
            max-width 105px          

    &__icon
        margin-bottom 30px
        display block

        @media (max-width 1024px)
            margin-bottom 15px

    &__icon-static
        display block    
    
    &__icon-hover
        display none    

    &__name
        font-size 14px
        line-height 17px
        text-align center
        letter-spacing 0.05em
        display block    
        width 150px
        max-width 100%