html,
body
    margin 0
    padding 0
    background-color #FAFAFA

html
    min-height 100%
    min-height 100vh

*
    outline none !important

h1
    font-size 60px
    color #2C323E
    font-family 'Proxima Nova', Arial, sans-serif
    font-weight 900
    line-height 68px
    letter-spacing 0.015em
    margin-top 25px
    margin-bottom 35px

    @media (max-width 959px)
        font-size 30px
        line-height 31px

h2
    &.title-h2
        font-size 60px
        color #2C323E
        font-family 'Proxima Nova', Arial, sans-serif
        font-weight 900
        line-height 68px
        letter-spacing 0.015em
        margin-bottom 35px

        @media (max-width 1023px)
            font-size 30px
            line-height 31px
            margin-bottom 20px 

h3
    font-size 36px
    color #2C323E
    font-family 'Proxima Nova', Arial, sans-serif
    font-weight 900
    line-height 41px
    margin-bottom 30px

img 
    max-width 100%  
    height auto

input[type=text]
input[type=mail]
input[type=tel]
    font-size 17px
    color #9C9C9C
    line-height 27px
    height 56px
    padding-right 20px
    padding-left 20px
    border 1px solid #C5C5C5
    border-radius 3px

textarea
    font-size 17px
    color #9C9C9C
    line-height 27px
    height 56px
    padding-right 20px
    padding-left 20px
    border 1px solid #C5C5C5
    border-radius 3px

::placeholder
    font-size 17px
    color #9C9C9C

.app
    display flex
    flex-direction column
    height 100%
    height 100vh

    &__wrapper
        display flex
        flex-direction column
        height 100%
        height 100vh

    &__inner-block,
    &__inner-block-full
        flex none    

    &__content
        display flex
        flex 1 0 auto

        @media (max-width 959px)
            flex-direction column
    
    &__aside
        flex 0 0 265px
        width 265px
        max-width 265px
        padding-top 35px
        margin-right 55px
        order -1

        @media (max-width 959px)
            flex none
            margin 0 auto
            width 480px
            max-width 100%

    &__main
        flex 1

.contain
    width 1235px + 15px + 15px
    max-width 100%
    padding-right 15px
    padding-left 15px
    margin 0 auto

.btn-general
    font-size 12px
    color #fff
    line-height 16px
    letter-spacing 0.16em
    text-align center
    text-transform uppercase
    padding 22px 20px 18px
    background-color #0066ff
    border none
    border-radius 3px
    min-width 280px
    display inline-block
    vertical-align top
    transition background-color .3s, color .3s
    &:hover
        text-decoration none
        background-color lighten(#0066ff, 10%)
    &&:active 
        background-color darken(#0066ff, 10%)

    &.btn-extra
        color #0575DC
        font-weight 900
        background-color transparent
        border 2px solid #0575DC
        &:hover
            color #fff
            text-decoration none
            background-color #0575DC

.jq-checkbox
    flex 0 0 20px
    width 20px
    max-width 20px
    height 20px
    border 1px solid #0575DC
    border-radius 3px
    margin-right 10px
    padding-top 4px
    padding-left 3px
    transition background-color .3s

    &.checked
        background-color #0575dc
        
        & ^[0]
            &__div
                opacity 1
        
    &__div
        width 12px
        height 6px
        border-left 2px solid #fff
        border-bottom 2px solid #fff
        transform rotate(-45deg)
        opacity 0
        transition opacity .3s

.jq-selectbox
    width 100%
    cursor pointer

    &.opened

        & ^[0]
            
            &__trigger-arrow
                transform rotate(180deg)

    &.dropup

        ul
            margin-bottom 0            

    &__select
        background-color #fff
        border 1px solid #DBDBDB
        box-sizing border-box
        border-radius 2px
        padding 20px 20px 19px 

    &__select-text
        font-size 16px
        color #8C8C8C
        line-height 19px
        letter-spacing 0.05em

    &__dropdown
        width 100% !important

        ul
            background-color #fff
            border 1px solid #DBDBDB
            padding-left 0

            li
                font-size 16px
                color #8C8C8C
                line-height 19px
                letter-spacing 0.05em
                padding 10px 30px 10px 20px
                &:hover
                    background-color #f5fafd

                &.selected    
                    background-color #f5fafd

    &__trigger
        position absolute
        top 50%
        right 20px
        transform translateY(-50%)

    &__trigger-arrow
        width 12px
        height 7px
        background url('../img/arr-icon.svg') 0 0 no-repeat
        transition transform .3s

.irs--flat .irs-line
    height 1px
    background-color #BFCBE1

.irs--flat .irs-bar
    top 24px
    height 3px
    background-color #0575DC

.irs--flat .irs-handle  
    width 0
    height 0
    border-style solid
    border-width 0 8px 16px 8px
    border-color transparent transparent #0574dc transparent
    background-color transparent
    top 24px

    i 
        display none

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single
    display none
    
.irs-min,
.irs-max
    display none
    
table.table-products
    width 100%

    th
        font-size 13px
        color #999
        font-weight normal
        line-height 16px
        letter-spacing 0.05em
        padding-bottom 5px
        padding-left 40px

        @media (max-width 767px)
            padding-left 15px

    tbody
        font-size 16px
        color #3F4653    
        line-height 18px
        letter-spacing 0.05em

        tr
            transition background-color .3s
            td
                padding-left 40px
                padding-top 10px
                padding-bottom 10px
                border-bottom 1px solid #ECECEC
                position relative

                @media (max-width 767px)
                    padding 15px

            &:nth-child(odd)
                background-color #f7f7f7

            &:hover
                background-color #fff
                box-shadow 0px 3px 18px rgba(0, 0, 0, 0.04)

                .products-modification-name
                    color #0081de
                    border-bottom 1px dashed #0081DE
        
        .products-modification-name
            font-size 16px
            line-height 18px
            color #3F4653
            text-decoration none    
            display inline-block
            border-bottom 1px dashed transparent
            transition border-color .3s, color .3s

        .products-modification-to-archive
            font-size 14px
            color #FFFFFF
            line-height 19px
            padding 3px 5px
            background-color #06192B
            border-radius 2px    
            position absolute
            top 33px
            left 15px
            &:before
                content ''
                position absolute
                top -22px
                left 0
                width 15px
                height 15px
                background url('../img/archive-icon.svg') 0 0 no-repeat

                @media (max-width 767px)
                    display none
        
        a
            font-size 18px
            color #0081DE
            font-weight 500
            line-height 25px
            letter-spacing 0.01em
            color #0081de
            border-bottom 1px dashed #0081DE
            &:hover
                text-decoration none
                border-color transparent

        span
            font-size 12px
            color #AFAFAF    
            line-height 20px
            letter-spacing 0.05em
            display block

.remodal
    text-align left

.remodal-close
    top 15px
    right 20px
    
    &:before
        font-size 50px

.remodal-wrapper
    padding 0

.inner-head
    display flex
    justify-content space-between
    align-items center

    @media (max-width 640px)
        display block
        margin-bottom 20px