.download-full-catalog
    margin-top 120px
    margin-bottom 35px
    flex none

    @media (max-width 479px)
        margin-top 50px

    @media print
        display none

    &__items
        display flex

        @media (max-width 1279px)
            display block

    &__item
        flex 0 0 48%
        width 48%   
        max-width 48%
        background-color #0575DC 
        border-radius 3px
        position relative
        padding 210px 35px 35px 35px
        margin-bottom 35px

        &:nth-child(2)
            background-color #352e87
            margin-left 40px

            @media (max-width 1279px)
                margin-left 0

            @media (max-width 1279px)
                margin-bottom 0    

            & ^[0]

                &__img
                    // top -135px
                    transform translateX(-50%)
                    
                    @media (max-width 400px)
                        top -75px


        @media (max-width 1279px)
            width 100%
            max-width 100%          
            margin-bottom 120px

        @media (max-width 479px)
            padding-top 150px
            padding-right 25px
            padding-left 25px
            margin-bottom 100px
    
    &__img
        text-align center
        width 500px
        max-width 100%
        position absolute
        top -100px
        left 50%
        transform translateX(-45%)
        margin 0 auto
        
        @media (max-width 639px)
            transform translateX(-48%)

        @media (max-width 479px)
            width 260px
            top -50px    

    &__file
        font-size 19px
        line-height 24px
        letter-spacing 0.05em
        color #FFFFFF
        padding-left 65px
        position relative
        &:before
            content ''
            position absolute
            top -25px
            left 0
            width 46px
            height 50px
            background url('../img/pdf-icon.svg') 0 0 no-repeat

            @media (max-width 479px)
                display none
        
        a        
            font-size 19px
            line-height 24px
            color #FFFFFF
            border-bottom 0.5px dashed #fff;
            &:hover
                text-decoration none
                border-bottom none

        @media (max-width 479px)
            padding-left 0        

        span
            margin-left 5px        