<div block="download-full-catalog">
    <div elem="section" class="contain">
        <div elem="items">
            <div elem="item" data-aos="fade-up" data-aos-duration="800">
                <div elem="img"><img src="img/download-full-catalog-img.png" alt=""></div>
                <div elem="file"><a href="#" download>Скачать полный каталог продукции </a><span>(2.4 Mb)</span></div>
            </div>
            <div elem="item" data-aos="fade-up" data-aos-duration="800">
                <div elem="img"><img src="img/download-full-catalog-img2.png" alt=""></div>
                <div elem="file"><a href="#" download>Скачать полный каталог продукции </a><span>(6.7 Mb)</span></div>
            </div>
        </div>
    </div>
</div><!-- download-full-catalog -->